{% extends "base.html" %} 
{% block title %}NovaCrypt | NRI {% endblock %} 
{% load static %} 
{% block css %}
<link href="{% static 'Landing/CSS/main.css' %}" rel="stylesheet">
<link href="{% static 'Landing/CSS/index.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'ihover.css'%}">
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"> 

<style>

  .wrapper {
    margin: 10vh;
    justify-content: center;
  }

  .card {
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    
    margin-bottom: 30px !important;
    border-radius: 20px;
    min-height: 250px;
    min-width: 225px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  }
  .card.card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size: 170%;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .card.card-has-bg:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;

  }
  .card.card-has-bg:hover {
    transform: scale(0.98);
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
    background-size: 130%;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .card.card-has-bg:hover .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: #234f6d;
    background: linear-gradient(0deg, rgba(4, 69, 114, 0.5) 0%, #044572 100%);
  }
  .card .card-footer {
    background: none;
    border-top: none;
  }
  .card .card-footer .media img {
    border: solid 3px rgba(234, 95, 0, 0.3);
  }
  .card .card-meta {
    color: orange;
  }
  .card .card-body {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .card:hover {
    cursor: pointer;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .card:hover .card-body {
    margin-top: 30px;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .card .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: #234f6d;
    background: linear-gradient(0deg, rgba(35, 79, 109, 0.3785889356) 0%, #455f71 100%);
  }
</style>

{% endblock %} 
{% block body %}

<div style="text-align:center; margin-top: 4.5rem;" data-aos="fade-up">
        <h1 style="padding-top: 2%; font-family:'Jost', sans-serif; font-size: 3.7rem  !important;">NOVACRYPT RESEARCH INSTITUTE</h1>
    </div>
    <div style="text-align:center" data-aos="fade-up">
        <p class="constant mx-5 px-5" style="padding-top: 2%; font-size: 2em">Our Courses</p>
    </div>
<section class="wrapper">

    <div class="card-deck text-center">

{% for Course in Courses %}

      <div class="card text-white card-has-bg click-col linkclick" style="background-image:url('{{Course.logo.url}}');">
       <a href="/nri/{{Course.id}}/"></a>
        <img class="card-img d-none" src="{{Course.logo.url}}" alt="">
        <div class="card-img-overlay d-flex flex-column">
          <div class="card-body">
            <small class="card-meta mb-2">Novacrypt Research Institute</small>
            <h4 class="card-title mt-0 ">{{Course.title}}</a></h4>
           
          </div>
          <div class="card-footer">
            
          </div>
        </div>
      </div>

      
      {% endfor %}

    </div>

  </section>




  {% endblock %} 
  {% block js %} 
  <script>
  $(".linkclick").click(function() {
  window.location = $(this).find("a").attr("href"); 
  return false;
  });
  </script>
  {% endblock %}