@charset "utf-8";
.col{
  max-height: 500px;
  max-width: 500px;
  color:cyan;
  border: 2px cyan solid ;
}

.thirddiv{
  height: 100vh;
  background-color: black;

}
.firstdiv {
  height: 100vh ;
  background-image: url("2.png");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  background-color: black;
}
.secdiv{
  height: 100vh;
  background-image: url("cad2.png");
  background-repeat: repeat;
  background-size: 100%;
  background-position: center;
}
.fourdiv{
  height: 100vh;
  background-image: url("t2.png");
  background-repeat: repeat;
  background-size: 100%;
  background-position: center;
}

.navbar {
  background-color: transparent;
  transition: 750ms ease;
}

.navbar a:hover {
  color: #2A9FD6;
}

.offcanvas-header { display:none; }

.dropdown.show .dropdown-menu {
  max-height: 300px;
  opacity: 1;
}

.navbar-brand {
  font-family: 'Jost', sans-serif;
  font-size: 1.25em;
}

.btn-outline-primary{
  border-color: #00b8ff ;
}

@media(max-width:720px){
  .thirddiv, .secdiv, .textbox{
    height: 50%;
    font-size: 15px;
  }
  .firstdiv{
    height: 40vh;
  }
  .fourdiv{
    background : black !important;
  }
}
