{% extends "base.html" %}
{% block title %}Community | NovaCrypt{% endblock %}
{% load static %}
{% block css %}

    <link rel="stylesheet" href="{% static 'Landing/CSS/contact.css' %}">
    <link rel="stylesheet" href="{% static 'Landing/CSS/main.css' %}">
{% endblock %}
{% block body %}
 
<div class="d-none d-lg-block container-fluid pt-3 pb-5" style="background-color: #262626;">
    <h1 style="margin-bottom:10px;margin-top:100px; font-size:3em; color: #03cdff;" class="constant mx-5">Contact Us</h1>
    <p style="margin-bottom:40px;" class="constant mx-5">Please wait at least 24 hours for a response.</p>
    
    
    <div class="contact-box" style="position: relative; background-color:#262626; padding-left: 15%; margin-top: 5%;">
    
    
        <div style="color:black; width:85%;"class="contact-left">
            <h3 class="constant" style="color:black; font-weight:600; margin-bottom: 30px;color: #03cdff;">Send your request</h3>
            <form>
                <div class="input-row">
                    <div class="input-group">
                        <label>Name</label>
                        <input type="text" placeholder="Jordan Osborn" class="clear">
                    </div>
                </div>
                <div class="input-row">
                    <div class="input-group">
                        <label>Email</label>
                        <input type="text" placeholder="jordanosborn@gmail.com" class="clear">
                    </div>
                </div>
                <div class="input-row">
                    <div class="input-group">
                        <label>Subject</label>
                        <input type="text" placeholder="Demo" class="clear">
                    </div>
                </div>
                <label>Message</label>
                <textarea rows="5" placeholder="Your Message" style="border: none; background-color: #0d0d0d; color: #bfbfbf; width:55%;"></textarea>
                <div class="row pl-5">
                <button type="submit" style="color: black;">SEND</button>
                </div>
            </form>
        </div>
        
        
        
        <div class="contact-right" style="position: absolute; left: 50%; top:-110px; width:35%;">
            <h3 class="constant" style=" font-size:3em; border-bottom: 1px solid #595959; font-weight:600; margin-bottom: 30px; color: #03cdff;">Reach Us</h3>
            <form class="mr-5 pr-5"> 
                    <div class="input-group my-5">
                        <label>General Inquiries</label>
                        <input type="text" placeholder="info@novacrypt.org" class="clear" readonly>
                    </div>
                    <div class="input-group my-5">
                        <label>Sponsorships</label>
                        <input type="text" placeholder="roja.das@novacrypt.org" class="clear" readonly>
                    </div>
                    <div class="input-group my-5">
                        <label>Sponsorships</label>
                        <input type="text" placeholder="roland.yan@novacrypt.org" class="clear" readonly>
                    </div>
                    </div>
                </div>
                
                
            </form>
        </div>
    </div>
</div>



<div class="d-lg-none container-fluid py-3" style="background-color: #262626;">
    <h1 style="margin-bottom:10px;margin-top:100px; font-size:3em; color: #03cdff;" class="constant mx-5">Contact Us</h1>
    <p style="margin-bottom:40px;" class="constant mx-5">Please wait at least 24 hours for a response.</p>
    <div class="contact-box mx-5">
        <div style="color:black"class="contact-left">
            <h3 class="constant" style="color:black; font-weight:600; margin-bottom: 30px;color: #03cdff;">Send your request</h3>
            <form>
                <div class="">
                    <div class="">
                        <label>Name</label>
                        <input type="text" placeholder="Jordan Osborn" class="clear">
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <label>Email</label>
                        <input type="text" placeholder="jordanosborn@gmail.com" class="clear">
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <label>Subject</label>
                        <input type="text" placeholder="Demo" class="clear">
                    </div>
                </div>
                <label>Message</label>
                <textarea rows="5" placeholder="Your Message" style="border: none; background-color: #0d0d0d; color: #bfbfbf;"></textarea>
                <button type="submit" style="color: black;">SEND</button>
            </form>
        </div>
        <div class="contact-right">
            <h3 class="constant" style=" font-size:3em; border-bottom: 1px solid #595959; font-weight:600; margin-bottom: 30px; color: #03cdff;">Reach Us</h3>
            <form class=""> 
                    <div class=" my-5">
                        <label>General Inquiries</label>
                        <input type="text" placeholder="info@novacrypt.org" class="clear" readonly>
                    </div>
                    <div class=" my-5">
                        <label>Sponsorships</label>
                        <input type="text" placeholder="roja.das@novacrypt.org" class="clear" readonly>
                    </div>
                    <div class=" my-5">
                        <label>Sponsorships</label>
                        <input type="text" placeholder="roland.yan@novacrypt.org" class="clear" readonly>
                    </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}   
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}