{% extends "base.html" %}
{% block title %}NovaCrypt | Home {% endblock %}
{% load static %}
{% block css %}
<link href="{% static 'Landing/CSS/main.css' %}" rel="stylesheet">
<link href="{% static 'Landing/CSS/index.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'ihover.css'%}">
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">

{% endblock %}
{% block body %}
<!--
<header>

    <video playsinline="playsinline" class="vid embed-responsive-item" autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://cdn.novacrypt.org/static/Landing/videos/4k.mp4" type="video/mp4">
    </video>
    <div class="container justify-content-start h-100">
        <div class="d-flex align-items-center" style="height: 98% !important;">
            <div class=" w-100" data-aos="fade-right">
                <p class="lead mb-5 text-white">WELCOME TO</p>
                <h1 class="display-2 mb-5 text-primary" style="font-family:sans-serif;">NOVACRYPT</h1>
            </div>
        </div>
    </div>
    
    <video playsinline="playsinline" class="d-lg-none h-25" autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://cdn.novacrypt.org/static/Landing/videos/4k.mp4" type="video/mp4">
    </video>

    <div class="container justify-content-start h-100 d-lg-none">
        <div class="d-flex align-items-center" style="height: 98% !important;">
            <div class=" w-100" data-aos="fade-right">
                <p class="lead mb-5 text-white">WELCOME TO</p>
                <h3 class=" mb-5 text-primary" style="font-family:sans-serif;">NOVACRYPT</h3>
            </div>
        </div>
    </div>
</header>-->
<div class="d-none d-lg-block about-2" style="padding-top:2%; margin-bottom: 4rem;">
    <div class="gif" data-aos="fade-up">
        <img class="gif2 stat-holder" style="padding-top:5%;"src="https://cdn.novacrypt.org/static/Landing/images/mainlogosmall.gif">
    </div>
    <div style="text-align:center" data-aos="fade-up">
        <h1 style="padding-top: 2%; font-family:'Jost', sans-serif; font-size: 3.7rem  !important;">NOVACRYPT</h1>
    </div>
    <div style="text-align:center" data-aos="fade-up">
        <p class="constant mx-5 px-5" style="padding-top: 2%; font-size: 2em">An international student-led umbrella organization dedicated to building the newest generation of scientists, engineers, and leaders.</p>
    </div>
</div>

<div class="d-lg-none about-2 " style="padding-top:15%; margin-bottom: 4rem;">
    <div class="gif" data-aos="fade-up">
        <img class="gif2 stat-holder" style="padding-top:5%;"src="https://cdn.novacrypt.org/static/Landing/images/mainlogosmall.gif">
    </div>
    <div style="text-align:center" data-aos="fade-up">
        <h1 style="padding-top: 2%; font-family:'Jost', sans-serif; font-size: 3.7rem  !important;">NOVACRYPT</h1>
    </div>
    <div style="text-align:center" data-aos="fade-up">
        <p class="constant" style="padding-top: 2%; font-size: 2em">An international student-led umbrella organization dedicated to building the newest generation of scientists, engineers, and leaders.</p>
    </div>
</div>


<div class="container mw-100 w-100 p-0 m-0 d-flex flex-column justify-content-center mt-5 pt-5">
    <div class="row mw-100 w-100 p-0 m-0 d-flex flex-row justify-content-center">
        
        
        <div class="lcard card 4" data-toggle="tooltip" data-placement="bottom" title="NPOCore" style="width: 10rem; height: fit-content;" data-aos="fade-up">
            <a href="https://npocore.com/" target="_blank" class="glow-on-hover">
                <img class="card-img-top lcard_image specialcard mx-auto d-block" src="https://cdn.novacrypt.org/static/Landing/images/logos/NPOCore/NPOCoreLogo.png" draggable="false" alt="Card image cap" style="width: 10rem; height: 10rem; text-align: center;">
            </a>
            <h5 style="text-align: center;"><a class="specialtitle" href="https://npocore.com/" target="_blank" style="width: 100%; margin-left: auto; margin-right: auto;">NPOCore</a></h5>
        </div>
        <div class="lcard card 4" data-toggle="tooltip" data-placement="bottom" title="Ortexo" style="width: 10rem; height: fit-content;" data-aos="fade-up">
            <a href="https://ortexo.com/" target="_blank" class="glow-on-hover">
                <img class="card-img-top lcard_image specialcard mx-auto d-block" src="https://cdn.novacrypt.org/static/Landing/images/logos/Ortexo/Ortexo.png" draggable="false" alt="Card image cap" style="width: 10rem; height: 10rem; text-align: center;">
            </a>
            <h5 style="text-align: center;"><a class="specialtitle" href="https://ortexo.com/" target="_blank" style="width: 100%; margin-left: auto; margin-right: auto;">Ortexo</a></h5>
        </div>
        <div class="lcard card 4" data-toggle="tooltip" data-placement="bottom" title="W3Hacks" style="width: 10rem; height: fit-content;" data-aos="fade-up">
            <a href="https://w3hacks.com/" target="_blank" class="glow-on-hover">
                <img class="card-img-top lcard_image specialcard mx-auto d-block" src="https://cdn.novacrypt.org/static/Landing/images/logos/W3Hacks/W3Hacks.png" draggable="false" alt="Card image cap" style="width: 10rem; height: 10rem; text-align: center;">
            </a>
            <h5 style="text-align: center;"><a class="specialtitle" href="https://w3hacks.com/" target="_blank" style="width: 100%; margin-left: auto; margin-right: auto;">W3Hacks</a></h5>
        </div>
        <div class="lcard card 4" data-toggle="tooltip" data-placement="bottom" title="Nexus" style="width: 10rem; height: fit-content;" data-aos="fade-up">
            <a href="https://thenexus.dev/" target="_blank" class="glow-on-hover">
                <img class="card-img-top lcard_image specialcard mx-auto d-block" src="https://cdn.novacrypt.org/static/Landing/images/logos/Nexus/Nexus.png" draggable="false" alt="Card image cap" style="width: 10rem; height: 10rem; text-align: center;">
            </a>
            <h5 style="text-align: center;"><a class="specialtitle" href="https://thenexus.dev/" target="_blank" style="width: 100%; margin-left: auto; margin-right: auto;">Nexus</a></h5>
        </div>
        <div class="lcard card 4" data-toggle="tooltip" data-placement="bottom" title="Coming Soon" style="width: 10rem; height: fit-content;" data-aos="fade-up">
            <a href="https://ispc.typeform.com/to/pjxGNBBU" target="_blank" class="glow-on-hover">
                <img class="card-img-top lcard_image specialcard mx-auto d-block" src="https://cdn.novacrypt.org/static/Landing/images/logos/ISPC/ispcwhite.png" draggable="false" alt="Card image cap" style="width: 10rem; height: 10rem; text-align: center;">
            </a>
            <h5 style="text-align: center;"><a class="specialtitle" href="https://ispc.typeform.com/to/pjxGNBBU" target="_blank" style="width: 100%; margin-left: auto; margin-right: auto;">ISPC</a></h5>
        </div>
        <div class="lcard card 4" data-toggle="tooltip" data-placement="bottom" title="Coming Soon" style="width: 10rem; height: fit-content;" data-aos="fade-up">
            <a href="https://novacrypt.org/Projects" target="_blank" class="glow-on-hover">
                <img class="card-img-top lcard_image specialcard mx-auto d-block" src="https://cdn.novacrypt.org/static/Landing/images/logos/Project Team Logo/projectswhite.png" draggable="false" alt="Card image cap" style="width: 10rem; height: 10rem; text-align: center;">
            </a>
            <h5 style="text-align: center;"><a class="specialtitle" href="https://novacrypt.org/projects" target="_blank" style="width: 100%; margin-left: auto; margin-right: auto;">NovaCrypt Projects</a></h5>
        </div>
    </div>
    <div class="row mw-100 w-100 p-0 m-0 d-flex flex-row justify-content-center">
        
        


    </div>
</div>

<!--
<div class="container mw-100 w-100 p-0 m-0 d-flex flex-column justify-content-center mt-5 pt-5">
    <div class="row mw-100 w-100 p-0 m-0 d-flex flex-row justify-content-center">
        <div class="lcard card 4" data-toggle="tooltip" data-placement="bottom" title="AuraEdge" style="width: 10rem; height: fit-content;" data-aos="fade-up">
            <a href="https://auraedge.net/" target="_blank" class="glow-on-hover">
                <img class="card-img-top lcard_image specialcard mx-auto d-block" src="https://cdn.novacrypt.org/static/Landing/images/logos/AuraEdge/AuraEdge.png" draggable="false" alt="AuraEdge Logo" style="width: 10rem; height: 10rem; text-align: center;">
            </a>
            <h5 style="text-align: center;"><a class="specialtitle" href="https://auraedge.net/" target="_blank" style="width: 100%; margin-left: auto; margin-right: auto;">AuraEdge</a></h5>
        </div>
        <div class="lcard card 4" data-toggle="tooltip" data-placement="bottom" title="The Interstellar Initiative" style="width: 10rem; height: fit-content;" data-aos="fade-up">
            <a href="https://interstellarinitiative.net/" target="_blank" class="glow-on-hover">
                <img class="card-img-top lcard_image specialcard mx-auto d-block" src="https://cdn.novacrypt.org/static/Landing/images/logos/Interstellar/WhiteInterstellar.png" draggable="false" alt="Interstellar Init Logo" style="width: 10rem; height: 10rem; text-align: center;">
            </a>
            <h5 style="text-align: center;"><a class="specialtitle" href="https://interstellarinitiative.net/" target="_blank" style="width: 100%; margin-left: auto; margin-right: auto;">The Interstellar Initiative</a></h5>
        </div>
        <div class="lcard card 4" data-toggle="tooltip" data-placement="bottom" title="NPOCore" style="width: 10rem; height: fit-content;" data-aos="fade-up">
            <a href="https://npocore.com/" target="_blank" class="glow-on-hover">
                <img class="card-img-top lcard_image specialcard mx-auto d-block" src="https://cdn.novacrypt.org/static/Landing/images/logos/NPOCore/NPOCoreLogo.png" draggable="false" alt="Card image cap" style="width: 10rem; height: 10rem; text-align: center;">
            </a>
            <h5 style="text-align: center;"><a class="specialtitle" href="https://npocore.com/" target="_blank" style="width: 100%; margin-left: auto; margin-right: auto;">NPOCore</a></h5>
        </div>
        <div class="lcard card 4" data-toggle="tooltip" data-placement="bottom" title="Ortexo" style="width: 10rem; height: fit-content;" data-aos="fade-up">
            <a href="https://ortexo.com/" target="_blank" class="glow-on-hover">
                <img class="card-img-top lcard_image specialcard mx-auto d-block" src="https://cdn.novacrypt.org/static/Landing/images/logos/Ortexo/Ortexo.png" draggable="false" alt="Card image cap" style="width: 10rem; height: 10rem; text-align: center;">
            </a>
            <h5 style="text-align: center;"><a class="specialtitle" href="https://ortexo.com/" target="_blank" style="width: 100%; margin-left: auto; margin-right: auto;">Ortexo</a></h5>
        </div>
        <div class="lcard card 4" data-toggle="tooltip" data-placement="bottom" title="W3Hacks" style="width: 10rem; height: fit-content;" data-aos="fade-up">
            <a href="https://w3hacks.com/" target="_blank" class="glow-on-hover">
                <img class="card-img-top lcard_image specialcard mx-auto d-block" src="https://cdn.novacrypt.org/static/Landing/images/logos/W3Hacks/W3Hacks.png" draggable="false" alt="Card image cap" style="width: 10rem; height: 10rem; text-align: center;">
            </a>
            <h5 style="text-align: center;"><a class="specialtitle" href="https://w3hacks.com/" target="_blank" style="width: 100%; margin-left: auto; margin-right: auto;">W3Hacks</a></h5>
        </div>
        <div class="lcard card 4" data-toggle="tooltip" data-placement="bottom" title="Nexus" style="width: 10rem; height: fit-content;" data-aos="fade-up">
            <a href="https://thenexus.dev/" target="_blank" class="glow-on-hover">
                <img class="card-img-top lcard_image specialcard mx-auto d-block" src="https://cdn.novacrypt.org/static/Landing/images/logos/Nexus/Nexus.png" draggable="false" alt="Card image cap" style="width: 10rem; height: 10rem; text-align: center;">
            </a>
            <h5 style="text-align: center;"><a class="specialtitle" href="https://thenexus.dev/" target="_blank" style="width: 100%; margin-left: auto; margin-right: auto;">Nexus</a></h5>
        </div>
    </div>
    <div class="row mw-100 w-100 p-0 m-0 d-flex flex-row justify-content-center">
        <div class="lcard card 4" data-toggle="tooltip" data-placement="bottom" title="IdeateX" style="width: 10rem; height: fit-content;" data-aos="fade-up">
            <a href="https://ideatex.org/" target="_blank" class="glow-on-hover">
                <img class="card-img-top lcard_image specialcard mx-auto d-block" src="https://cdn.novacrypt.org/static/Landing/images/logos/IdeateX/IdeateX.png" draggable="false" alt="Card image cap" style="width: 10rem; height: 10rem; text-align: center;">
            </a>
            <h5 style="text-align: center;"><a class="specialtitle" href="https://ideatex.org/" target="_blank" style="width: 100%; margin-left: auto; margin-right: auto;">IdeateX</a></h5>
        </div>
        <div class="lcard card 4" data-toggle="tooltip" data-placement="bottom" title="Wavefrnt" style="width: 10rem; height: fit-content;" data-aos="fade-up">
            <a href="https://wavefrnt.com/" target="_blank" class="glow-on-hover">
                <img class="card-img-top lcard_image specialcard mx-auto d-block" src="https://cdn.novacrypt.org/static/Landing/images/logos/WaveFrnt/WavefrntTransparent.png" draggable="false" alt="Card image cap" style="width: 10rem; height: 10rem; text-align: center;">
            </a>
            <h5 style="text-align: center;"><a class="specialtitle" href="https://wavefrnt.com/" target="_blank" style="width: 100%; margin-left: auto; margin-right: auto;">Wavefrnt</a></h5>
        </div>
        <div class="lcard card 4" data-toggle="tooltip" data-placement="bottom" title="NYFightingCOVID" style="width: 10rem; height: fit-content;" data-aos="fade-up">
            <a href="https://nyfc.xyz/" target="_blank" class="glow-on-hover">
                <img class="card-img-top lcard_image specialcard mx-auto d-block" src="https://cdn.novacrypt.org/static/Landing/images/nyfc.png" draggable="false" alt="Card image cap" style="width: 10rem; height: 10rem; text-align: center;">
            </a>
            <h5 style="text-align: center;"><a class="specialtitle" href="https://nyfc.xyz/" target="_blank" style="width: 100%; margin-left: auto; margin-right: auto;">NYFightingCOVID</a></h5>
        </div>
        <div class="lcard card 4" data-toggle="tooltip" data-placement="bottom" title="Coming Soon" style="width: 10rem; height: fit-content;" data-aos="fade-up">
            <a href="https://ispc.typeform.com/to/pjxGNBBU" target="_blank" class="glow-on-hover">
                <img class="card-img-top lcard_image specialcard mx-auto d-block" src="https://cdn.novacrypt.org/static/Landing/images/logos/ISPC/ispcwhite.png" draggable="false" alt="Card image cap" style="width: 10rem; height: 10rem; text-align: center;">
            </a>
            <h5 style="text-align: center;"><a class="specialtitle" href="https://ispc.typeform.com/to/pjxGNBBU" target="_blank" style="width: 100%; margin-left: auto; margin-right: auto;">ISPC</a></h5>
        </div>
        <div class="lcard card 4" data-toggle="tooltip" data-placement="bottom" title="Coming Soon" style="width: 10rem; height: fit-content;" data-aos="fade-up">
            <a href="https://novacrypt.org/Projects" target="_blank" class="glow-on-hover">
                <img class="card-img-top lcard_image specialcard mx-auto d-block" src="https://cdn.novacrypt.org/static/Landing/images/logos/Project Team Logo/projectswhite.png" draggable="false" alt="Card image cap" style="width: 10rem; height: 10rem; text-align: center;">
            </a>
            <h5 style="text-align: center;"><a class="specialtitle" href="https://novacrypt.org/projects" target="_blank" style="width: 100%; margin-left: auto; margin-right: auto;">NovaCrypt Projects</a></h5>
        </div>
        <div class="lcard card 4" data-toggle="tooltip" data-placement="bottom" title="Coming Soon" style="width: 10rem; height: fit-content;" data-aos="fade-up">
            <a href="https://usl.novacrypt.org/" target="_blank" class="glow-on-hover">
                <img class="card-img-top lcard_image specialcard mx-auto d-block" src="https://cdn.novacrypt.org/static/Landing/images/logos/USL/USLlogowhite-01.png" draggable="false" alt="Card image cap" style="width: 10rem; height: 10rem; text-align: center;">
            </a>
            <h5 style="text-align: center;"><a class="specialtitle" href="https://usl.novacrypt.org/" target="_blank" style="width: 100%; margin-left: auto; margin-right: auto;">USL</a></h5>
        </div>
    </div>
</div>
-->


<div class="row justify-content-center">
    <h3 class="col-12 d-none d-lg-block text-primary text-center mt-5 pt-5" data-aos="fade-up">With the support of
        faculty and student researchers at</h3>
    <h3 class="col-12 col-sm-6 d-block d-lg-none text-primary text-center mt-5 pt-5" data-aos="fade-up">With the support of
        faculty and student researchers at</h3>
</div>

<div class="container mw-100 w-100 p-0 m-0 d-flex flex-column justify-content-center ">
    <div class="row mw-100 w-100 p-0 m-0 d-flex flex-row justify-content-center">

        <div class="card-transparent 4 mx-5 mt-5" style="width: 10rem; height: fit-content;" data-aos="fade-up">
            <a href="https://www.cam.ac.uk/" target="_blank">
            <img class="card-img-top lcard_image mx-auto d-block"
                src="https://cdn.novacrypt.org/static/Landing/images/logos/Schools/cambridge.png" draggable="false"
                alt="AuraEdge Logo" style="width: 10rem; height: 10rem; text-align: center;">
            </a>
        </div>

        <div class="card-transparent 4 mx-5 mt-5" style="width: 10rem; height: fit-content;" data-aos="fade-up">
            <a href="https://www.columbia.edu/" target="_blank">
            <img class="card-img-top lcard_image mx-auto d-block"
                src="https://cdn.novacrypt.org/static/Landing/images/logos/Schools/columbia.png" draggable="false"
                alt="AuraEdge Logo" style="width: 10rem; height: 10rem; text-align: center;">
            </a>

        </div>
        <div class="card-transparent 4 mx-5 mt-5" style="width: 10rem; height: fit-content;" data-aos="fade-up">
            <a href="https://www.harvard.edu/" target="_blank">
            <img class="card-img-top lcard_image mx-auto d-block"
                src="https://cdn.novacrypt.org/static/Landing/images/logos/Schools/harvard.png" draggable="false"
                alt="AuraEdge Logo" style="width: 10rem; height: 10rem; text-align: center;">
            </a>
        </div>
        <div class="card-transparent 4 mx-5 mt-5" style="width: 10rem; height: fit-content;" data-aos="fade-up">
            <a href="https://www.ibm.com" target="_blank">
            <img class="card-img-top lcard_image mx-auto d-block"
                src="https://cdn.novacrypt.org/static/Landing/images/logos/Schools/ibm.png" draggable="false"
                alt="AuraEdge Logo" style="width: 10rem; height: 10rem; text-align: center;">
            </a>
        </div>
        <div class="card-transparent 4 mx-5 mt-5" style="width: 10rem; height: fit-content;" data-aos="fade-up">
            <a href="https://www.societyforscience.org/isef/" target="_blank">
            <img class="card-img-top lcard_image mx-auto d-block"
                src="https://cdn.novacrypt.org/static/Landing/images/logos/Schools/isef.png" draggable="false"
                alt="AuraEdge Logo" style="width: 10rem; height: 10rem; text-align: center;">
            </a>
        </div>

    </div>
    <div class="row mw-100 w-100 p-0 m-0 d-flex flex-row justify-content-center">
        <div class="card-transparent 4 mx-5 mt-5" style="width: 10rem; height: fit-content;" data-aos="fade-up">
            <a href="https://www.mit.edu/" target="_blank">
            <img class="card-img-top lcard_image mx-auto d-block"
                src="https://cdn.novacrypt.org/static/Landing/images/logos/Schools/mit.png" draggable="false"
                alt="AuraEdge Logo" style="width: 10rem; height: 10rem; text-align: center;">
                </a>
        </div>
        <div class="card-transparent 4 mx-5 mt-5" style="width: 10rem; height: fit-content;" data-aos="fade-up">
            <a href="https://www.nasa.gov/" target="_blank">
            <img class="card-img-top lcard_image mx-auto d-block"
                src="https://cdn.novacrypt.org/static/Landing/images/logos/Schools/nasa.png" draggable="false"
                alt="AuraEdge Logo" style="width: 10rem; height: 10rem; text-align: center;">
            </a>
        </div>
        <div class="card-transparent 4 mx-5 mt-5" style="width: 10rem; height: fit-content;" data-aos="fade-up">
            <a href="https://www.stanford.edu/" target="_blank">
            <img class="card-img-top lcard_image mx-auto d-block"
                src="https://cdn.novacrypt.org/static/Landing/images/logos/Schools/stanford.png" draggable="false"
                alt="AuraEdge Logo" style="width: 10rem; height: 10rem; text-align: center;">
            </a>
        </div>
        <div class="card-transparent 4 mx-5 mt-5" style="width: 10rem; height: fit-content;" data-aos="fade-up">
            <a href="https://www.un.org/en/" target="_blank">
            <img class="card-img-top lcard_image mx-auto d-block"
                src="https://cdn.novacrypt.org/static/Landing/images/logos/Schools/un.png" draggable="false"
                alt="AuraEdge Logo" style="width: 10rem; height: 10rem; text-align: center;">
            </a>
        </div>
        <div class="card-transparent 4 mx-5 mt-5" style="width: 10rem; height: fit-content;" data-aos="fade-up">
            <a href="https://www.iitr.ac.in/" target="_blank">
            <img class="card-img-top lcard_image mx-auto d-block"
                src="https://cdn.novacrypt.org/static/Landing/images/logos/Schools/iits.png" draggable="false"
                alt="AuraEdge Logo" style="width: 10rem; height: 10rem; text-align: center;">
            </a>
        </div>

    </div>
</div>




<!---<div class= "d-none row justify-content-around" style="padding-bottom: 150px; overflow-x:hidden;" data-aos="fade-up">

    <div class="col-1" style="padding-top:13%; padding-right:8%;">
        <h1 class="text-left text-primary display-1 pb-5" style="font-size: 8rem;">WHAT DO WE DO?</h1><br>
    </div>

    <div class="col-5"style="padding-top:0%;">
        <img class="rounded d-none d-lg-block" src="https://cdn.novacrypt.org/static/Landing/images/home_planets.png">
    
        <div class="play-btn">
            <-- Icon Modal --
            <-- Button trigger modal --
            <button type="button" class="close overlay align-items-end" aria-label="Close" data-toggle="modal" data-target="#IconModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-play-circle-fill text-primary" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"></svg>    
            </button>
            <-- Modal --
            <div class="modal fade" id="IconModal" tabindex="-1" role="dialog" aria-labelledby="IconModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="IconModalLabel"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="embed-responsive embed-responsive-16by9">
                                <video width="320" height="240" controls>
                                    <source src="https://cdn.novacrypt.org/static/Landing/videos/NovaCrypt Advertisement.mp4" type="video/mp4">
                                </video>
                                
                                <--<iframe class="embed-responsive-item" src="https://cdn.novacrypt.org/static/Landing/videos/NovaCrypt Advertisement.mp4" allowfullscreen></iframe>--
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
--->



<div class=" d-none d-lg-block research-proj mx-auto" style="width: 90%; text-align:center; margin-bottom: 5%; margin-top: 10%;">
    <div class="row" style="height: 800px;">
        <div class="img-txt-box mx-auto" style="width: 1400px; position: relative;">
            <div class="center-try mx-auto" style="width: 100%; position: relative;">
                <div class="overlap-imgs-inner"  data-aos="fade-up">
                    <img src="https://cdn.novacrypt.org/static/Landing/images/rover.jpg" style="width: 600px; border-radius: 30px; position: absolute; left: 75px; top:170px;">
                    <img src="https://cdn.novacrypt.org/static/Landing/images/virus-blue.jpg" style="width: 400px; border-radius: 25px; position: absolute; left: 525px;">
                    <img src="https://cdn.novacrypt.org/static/Landing/images/plane.jpg" style="width: 200px; border-radius: 25px; position: absolute; left: 525px; top: 550px;"> 
                    <div class="overlap-imgs-text" style="position: absolute; width: 600px; text-align: left; left: 750px; top: 300px;"  data-aos="fade-up">
                        <p style="color: #1692c4; font-size: 46px;">Research and Projects</p>
                        <p style="font-size: 32px; color: #fff;">Develop Rocket Engines, Moon Rovers, Drones, Machine Learning Software, and Bio-Robotics.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="height: 800px;">
        <div class="img-txt-box mx-auto" style="width: 1400px; position: relative;">
            <div class="center-try mx-auto" style="width: 100%; position: relative;">
                <div class="overlap-imgs-inner"  data-aos="fade-up">
                    <img src="https://cdn.novacrypt.org/static/Landing/images/rocket-launch.jpg"
                        style="width: 400px; border-radius: 30px; position: absolute; left: 775px; top:100px;">
                    <img src="https://cdn.novacrypt.org/static/Landing/images/rocket-launch-square.jpg"
                        style="width: 300px; border-radius: 25px; position: absolute; left: 575px; top:550px; ">
                    <div class="overlap-imgs-text"
                        style="position: absolute; width: 450px; text-align: left; left: 125px; top: 250px;"  data-aos="fade-up">
                        <p style="color: #1692c4; font-size: 46px;">If You Dream It We Make It</p>
                        <p style="font-size: 32px; color: #fff;">We take projects beyond the competition into the real world.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="d-block d-lg-none container-fluid py-5" data-aos="fade-up">
    <div class = "row d-flex justify-content-center">
        <div class="col-12 mx-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 d-block d-lg-none">
                        <h4 class="py-3 text-primary">Research and Projects</h4>
                        <h5  class="pb-3" >Develop Rocket Engines, Moon Rovers, Drones, Machine Learning Software, and Bio-Robotics.</h5>
                    </div>
                    <div class="col-12 col-lg-6 col-md-4 mx-0 my-auto">
                        <img class="img-fluid rounded" src="https://cdn.novacrypt.org/static/Landing/images/rover.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-block d-lg-none container-fluid py-5" data-aos="fade-up">
    <div class = "row d-flex justify-content-center">
        <div class="col-12 mx-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 d-block d-lg-none">
                        <h4 class="py-3 text-primary">If You Dream It We Make It</h4>
                        <h5 class="pb-3" >We take projects beyond the competition into the real world.</h5>
                    </div>
                    <div class="col-12 col-lg-6 col-md-4 mx-0 my-auto">
                        <img class="img-fluid rounded" src="https://cdn.novacrypt.org/static/Landing/images/rocket-launch.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="d-none d-lg-block container-fluid mt-5 py-5">
    <div class = "row my-5 mx-5 d-flex justify-content-center">
        <div class="col-12 mx-0">
            <div class="container-fluid">
                <div class="row mx-5">
                    <div class="col-12 col-lg-6 d-none d-lg-block"  style="padding-top: 10%;">
                        <h2 class="pb-5 text-primary"  data-aos="fade-up">Jumpstart Your Own Project</h2>
                        <h4  data-aos="fade-up">Have your own project or idea? We'll help you take it to the next level.</h4>
                    </div>
                    <div class="col-12 col-lg-6 col-md-4 d-none d-lg-block mx-0 my-auto"  data-aos="fade-up">
                        <img class="img-fluid rounded" src="https://cdn.novacrypt.org/static/Landing/images/first.png" alt=""  data-aos="fade-up">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-block d-lg-none container-fluid py-5">
    <div class = "row d-flex justify-content-center">
        <div class="col-12 mx-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 d-block d-lg-none mx-0 my-auto">
                        <img class="img-fluid rounded" src="https://cdn.novacrypt.org/static/Landing/images/first.png" alt=""  data-aos="fade-up">
                    </div>
                    <div class="col-12 d-block d-lg-none" >
                        <h4 class="py-3 text-primary"  data-aos="fade-up">Jumpstart Your Own Project</h4>
                        <h5  data-aos="fade-up">Have your own project or idea? We'll help you take it to the next level.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid py-5 px-2" style="margin-top: 0%;margin-bottom: 10%;">
    <div class="row justify-content-center">
        <h1 class="col-12 d-none d-lg-block text-primary text-center mb-5"  data-aos="fade-up">What We Offer</h1>
        <h3 class="col-12 col-sm-6 d-block d-lg-none text-primary text-center"  data-aos="fade-up">What We Offer</h3>
    </div>
    <div class="row justify-content-center"  data-aos="fade-up">
        <div class="col-12 col-sm-6 col-md-2 col-lg-2 d-flex justify-content-center">
            <div id="stretch">
                <div class="lcard-offer card 1" data-toggle="tooltip" data-placement="bottom" title="Marketing">
                    <div class="lcard_image">
                        <img src="https://cdn.novacrypt.org/static/Landing/images/marketing-icon1.png">
                    </div>
                    <a href="#" class="stretched-link"></a>
                </div>
                <div class="d-md-none d-lg-block"><br>
                    <h5><a id="cardlinq" href="#">Marketing</a></h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-2 col-lg-2">
            <div id="stretch">
                <div class="lcard-offer card 2" data-toggle="tooltip" data-placement="bottom" title="Web/Software">
                    <div class="lcard_image">
                        <img src="https://cdn.novacrypt.org/static/Landing/images/web-software.png">
                    </div>
                    <a href="#" class="stretched-link"></a>
                </div>
                <div class="d-md-none d-lg-block"><br>
                    <h5><a id="cardlinq" href="#">Web/Software</a></h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-2 col-lg-2">
            <div id="stretch">
                <div class="lcard-offer card 3" data-toggle="tooltip" data-placement="bottom" title="Finances">
                    <div class="lcard_image">
                        <img src="https://cdn.novacrypt.org/static/Landing/images/finances-icon1.png">
                    </div>
                    <a href="#" class="stretched-link"></a>
                </div>
                <div class="d-md-none d-lg-block"><br>
                    <h5><a id="cardlinq" href="#">Finances</a></h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-2 col-lg-2">
            <div id="stretch">
                <div class="lcard-offer card 3" data-toggle="tooltip" data-placement="bottom" title="Hosting">
                    <div class="lcard_image">
                        <img src="https://cdn.novacrypt.org/static/Landing/images/hosting.png">
                    </div>
                    <a href="#" class="stretched-link"></a>
                </div>
                <div class="d-md-none d-lg-block"><br>
                    <h5><a id="cardlinq" class=".d-md-none .d-lg-block" href="#">Hosting</a></h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-2 col-lg-2">
            <div id="stretch">
                <div class="lcard-offer card 4" data-toggle="tooltip" data-placement="bottom" title="Graphics">
                    <div class="lcard_image">
                        <img src="https://cdn.novacrypt.org/static/Landing/images/graphics.png">
                    </div>
                    <a href="#" class="stretched-link"></a>
                </div>
                <div class="d-md-none d-lg-block"><br>
                    <h5><a id="cardlinq" class=".d-md-none .d-lg-block" href="#">Graphics</a></h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-2 col-lg-2">
            <div id="stretch">
                <div class="lcard-offer card 4" data-toggle="tooltip" data-placement="bottom" title="Advisors">
                    <div class="lcard_image">
                        <img src="https://cdn.novacrypt.org/static/Landing/images/advisors.png">
                    </div>
                    <a href="#" class="stretched-link"></a>
                </div>
                <div class="d-md-none d-lg-block"><br>
                    <h5><a id="cardlinq" class=".d-md-none .d-lg-block" href="#">Advisors</a></h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-none d-lg-block container-fluid my-5 py-5" data-aos="fade-up">
    <div class = "row my-5 mx-5 d-flex justify-content-center">
        <div class="col-12">
            <div class="container-fluid">
                <div class="row mx-5">
                    <div class="col-12 col-lg-6 d-none d-lg-block" style="margin-top: 5%;">
                        <h2 class="text-primary">Build Your Own Legacy</h2>
                        <h4 class="mb-4">Develop your own project profile, track your progress and experience, and use your own customized Dashboard as a hub for all our subsidiaries and activity.</h4>
                        <a class="btn btn-primary btn-lg btn-block" href="/Administration/signup" role="button">Join Today</a>
                    </div>
                    <div class="col-12 col-lg-6 d-none d-lg-block my-auto">
                        <img class="img-fluid rounded" src="https://cdn.novacrypt.org/static/Landing/images/second.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-block d-lg-none container-fluid py-5" data-aos="fade-up">
    <div class = "row d-flex justify-content-center">
        <div class="col-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 d-block d-lg-none my-auto">
                        <img class="img-fluid rounded" src="https://cdn.novacrypt.org/static/Landing/images/second.png" alt="random">
                    </div>
                    <div class="col-12 d-block d-lg-none">
                        <h3 class="text-primary">Build Your Own Legacy</h3>
                        <h5 class="mb-4">Develop your own project profile, track your progress and experience, and use your own customized Dashboard as a hub for all our subsidiaries and activity.</h5>
                        <a class="btn btn-primary btn-lg" href="/Administration/signup" role="button">Join Today</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid my-5 py-5 " data-aos="fade-up" data-aos="fade-up">
    <div class = "row d-flex justify-content-center mb-1">
        <div class="col-12 mx-0">
            <div class="container-fluid">
                <div class="row mx-5">
                    <div class="col-12 col-lg-6 mx-0 d-none d-lg-block text-center">
                        <img class="img-fluid rounded" src="https://cdn.novacrypt.org/static/Landing/images/third.png" alt="">
                    </div>
                    <div class="col-12 col-lg-6 mx-0 my-auto d-none d-lg-block">
                        <h2 class="text-primary">Join The</h2>
                        <h2 class="text-primary">Community</h2>
                        <h4 class="mb-4">Meet Our Team and our Likeminded Inovators</h4>
                        <a class="btn text-primary btn-lg btn-outline-primary rounded-pill" href="https://discord.gg/4Zzrqm6dTC" role="button">Join</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mx-0 d-block d-lg-none">
                        <img class="img-fluid rounded" src="https://cdn.novacrypt.org/static/Landing/images/third.png" alt="Random">
                    </div>
                    <div class="col-12 my-auto d-block d-lg-none">
                        <h3 class="text-primary">Join The</h3>
                        <h3 class="text-primary">Community</h2>
                        <h5 class="mb-3">Meet Our Team and our Likeminded Inovators</h5>
                        <a class="btn text-primary btn-lg btn-outline-primary rounded-pill" href="https://discord.gg/4Zzrqm6dTC" role="button">Join</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center stat-holder">
        <div class="col-2 border-primary d-none d-lg-block">
            <h3 class="text-primary text-center">1,500</h3>
            <h3 class="text-primary text-center">Members</h3>
        </div>
        <div class="col-2 border-left border-primary d-none d-lg-block">
            <h3 class="text-primary text-center">{{Projects}}</h3>
            <h3 class="text-primary text-center">Projects</h3>
        </div>
        <div class="col-2 border-left border-primary d-none d-lg-block">
            <h3 class="text-primary text-center">{{Sponsors}}</h3>
            <h3 class="text-primary text-center">Sponsors</h3>
        </div>
        <div class="col-2 border-primary border-left d-none d-lg-block">
            <h3 class="text-primary text-center">{{Teams}}</h3>
            <h3 class="text-primary text-center">Teams</h3>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-3 border-primary d-block d-lg-none">
            <h5 class="text-primary text-center">1,500</h5>
            <p class="text-primary text-center">Members</p>
        </div>
        <div class="col-3 border-left border-primary d-block d-lg-none">
            <h5 class="text-primary text-center">{{Projects}}</h5>
            <p class="text-primary text-center">Projects</p>
        </div>
        <div class="col-3 border-left border-primary d-block d-lg-none">
            <h5 class="text-primary text-center">{{Sponsors}}</h5>
            <p class="text-primary text-center">Sponsors</p>
        </div>
        <div class="col-3 border-left border-primary d-block d-lg-none">
            <h5 class="text-primary text-center">{{Teams}}</h5>
            <p class="text-primary text-center">Teams</p>
        </div>
    </div>
</div>
<!--<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable border-primary modal-lg">
      <div class="modal-content border-primary bg-light">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">New Site Changes</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="embed-responsive embed-responsive-16by9">
                <video width="320" height="240" controls>
                    <source src="https://cdn.novacrypt.org/static/Landing/videos/Novacrypt+V4+-+Promo+3-1.webm" type="video/webm">
                </video>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>-->

{% endblock %}
{% block js %}

<!--<script>
  AOS.init();
</script>
<script type="text/javascript">
    $(window).on('load', function() {
        $('#staticBackdrop').modal('show');
    });
</script>
 JS -->
{% endblock %}