.b {
    margin: 0 5%;
    background: #fff;
    font-size: 1.25em;
    padding: 10px 24px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 2px;
    transition: .8s ease;
    width: 90%;

}

.b:hover {
    background: #51b8f0;
    color: #fff;
}
.article {
    content:"";
    /* height: 150%; */
    background: url("../images/Background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.top-space {
    padding-top: 200px;
}
.bottom-space {
    padding-bottom: 200px;
}
.outline {
    border: solid 5px  #007bff;
}
.title {
    font-size: 90px;
}
.text {
    font-size: 35px;
}