

@charset "utf-8";
.col{
  max-height: 500px;
  max-width: 500px;
  color:cyan;
  border: 2px cyan solid ;
}
body{
  background-color: black;
}
h2{
  font-family: Arial;

}
.thirddiv{
  height: 100vh;
  background-color: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 100;

}
.firstdiv {
  height: 90vh ;
  background-image: url("https://cdn.novacrypt.org/static/Landing/images/mainlogo.gif");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: top;
  background-color: black;
  font-weight: bold;
  font-family: Arial;
}
.secdiv{
  height: 100vh;
  background-repeat: repeat;
  background-size: 100%;
  background-position: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  
}
.fourdiv{
  height: 100vh;
  background-image: url("https://cdn.novacrypt.org/static/Landing/images/12.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.navbar {
  background-color: transparent;
  transition: 750ms ease;
}

.navbar a:hover {
  color: #2A9FD6;
}

.offcanvas-header { display:none; }

.dropdown.show .dropdown-menu {
  max-height: 300px;
  opacity: 1;
}

.navbar-brand {
  font-family: 'Jost', sans-serif;
  font-size: 1.25em;
}

.btn-outline-primary{
  border-color: #00b8ff ;
}

@media(max-width:770px){
   .secdiv, .textbox{
    height: 50%;
    font-size: 15px;
  }
  .firstdiv{
    height: 40vh;
    font-size: 2px !important;
  }
  .fourdiv{
    background : black !important;
  }
  
}
@media(max-width:768px ){
  h2{
    font-size: 1.4rem !important;
  }
}
@media(min-width:769px ) and (max-width:990px ){
  h2{
    font-size: 1.5rem !important;
  }
}
@media(min-width:991px ) and (max-width:1200px ){
  h2{
    font-size: 2rem !important;
  }
}


