{% extends "base.html" %}
{% load static %}
{% block title %}NovaCrypt | Team Members {% endblock %}
{% block css %}
<link href="{% static 'TeamMembers/CSS/about-team.css' %}" rel="stylesheet">
<link href="{% static 'TeamMembers/CSS/about-team-team.css' %}" rel="stylesheet">
<link href="{% static 'TeamMembers/CSS/about-team-images.css' %}" rel="stylesheet">

{% endblock %}
{% block body %}

<section id="team">
    <div class="container" data-aos="fade-up">
        <div class="row flex-center sm-no-flex">
        <div class="pull-right sm-no-float col-md-8">
            <ul class="team-members">
                <!-- single member row starts -->
                <li class="clearfix">
                    <div class="member-details">
                        <div>
                            <img src="{% static 'novacrypt.webp' %}" alt="NovaCrypt" style="padding: 12%;">
                            <div class="member-info">
                                <h3>Novacrypt</h3>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="member-details">
                        <div>
                            <img src="{% static 'TeamMembers/images/kanishk.png' %}" alt="Tate Schrock">
                            <div class="member-info">
                                <h3>Kanishk Kacholia</h3>
                                <p>Executive Frontend Developer</p>
                            </div>
                        </div>
                    </div>

                    <div class="member-details">
                        <div>
                            <img src="{% static 'TeamMembers/images/Rolands_Photo_Edited_White.png' %}" alt="Ameya Singh">
                            <div class="member-info">
                                <h3>Roland Yan</h3>
                                <p>CEO</p>
                            </div>
                        </div>
                    </div>
                </li><!-- /single member row ends -->

                <!-- single member row starts -->
                <li class="clearfix">
                    <div class="member-details">
                        <div>
                            <img src="{% static 'TeamMembers/images/Mac_Kong_Image_White.png' %}" alt="Mac Kongsomjit">
                            <div class="member-info">
                                <h3>Mac Kongsomjit</h3>
                                <p>COO</p>
                            </div>
                        </div>
                    </div>

                    <div class="member-details">
                        <div>
                            <img src="{% static 'TeamMembers/images/RojaWhite.png' %}" alt="Roland Yan">
                            <div class="member-info">
                                <h3>Roja Das</h3>
                                <p>CFO</p>
                            </div>
                        </div>
                    </div>

                    <div class="member-details">
                        <div>
                            <img src="{% static 'TeamMembers/images/MaksimPicWhite.png' %}" alt="UI Designer">
                            <div class="member-info">
                                <h3>Maksim Peterburgskiy</h3>
                                <p>CTO</p>
                            </div>
                        </div>
                    </div>
                </li><!-- /single member row ends -->

                <!-- single member row starts -->
                <li class="clearfix">
                    <div class="member-details">
                        <div>
                            <img src="{% static 'TeamMembers/images/IshaanImgWhite.png' %}" alt="Ishaan Panigrahi">
                            <div class="member-info">
                                <h3>Ishaan Panigrahi</h3>
                                <p>CMO</p>
                            </div>
                        </div>
                    </div>

                    <div class="member-details">
                        <div>
                            <img src="{% static 'TeamMembers/images/randallwhite.png' %}" alt="Avani Guduri">
                            <div class="member-info">
                                <h3>Abhi Lastname</h3>
                                <p>CHRO</p>
                            </div>
                        </div>
                    </div>

                    <div class="member-details">
                        <div>
                            <img src="{% static 'novacrypt.webp' %}" alt="NovaCrypt" style="padding: 12%;">
                            <div class="member-info">
                                <h3>Novacrypt</h3>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </li><!-- /single member row ends -->
            </ul><!-- /end team-photos -->
        </div><!-- /end col-md-8 -->

        <div class="pull-left col-md-4 sm-text-center">
            <div class="team-overview">
                <h2>Who Are We?</h2>
                <a href="{% url 'TeamMembers:index' %}">Meet the Entire Team</a>
                <p><div>The executive team manages NovaCrypt, running each of the aspects and ensuring that things go smoothy. Working together, they are able to organize all the teams and subsidiaries, building what our organization is today!</div></p>
            </div>
        </div><!-- /end col-md-4 -->
    </div><!-- /end row -->
</div><!-- /end container -->
</section>

<hr style="border:2px solid #4285F4; margin-top: 4%; margin-bottom: 4%;" data-aos="fade-up">

<!-- Team members section -->

<div class="container-fluid">
<div class="row">

    <!--  -->

    <div class="col">
        <h3 style="margin-left: 25%; margin-top:6%; font-size: 3.9vw;"  data-aos="fade-up">Team Members</h3>
    </div>
    <div class="col"> <!--
        <div id="stretch">
                <div class="lcard card 2" data-toggle="tooltip" data-placement="bottom" title="Join button">
                    <div class="lcard_image">
                        <img src="assets/images/novacrypt.png">
                    </div>
                    <a href="interinit.html" class="stretched-link"></a>
                </div>
                <div class="d-md-none d-lg-block"><br>
                    <h5><a id="cardlinq" href="interinit.html">Join Us</a></h5>
                </div>
            </div>
        </div> -->
        <div class="dropdown float-right" style="margin-right: 21%;" data-aos="fade-up">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:25vw;height:6vw;background-color:#4285F4; font-size: 2vw;">
            Teams
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width:25vw">
            <a class="dropdown-item" href="{% url 'TeamMembers:index' %}">All</a>
            <a class="dropdown-item" href="{% url 'TeamMembers:Management' %}">Management</a>
            <a class="dropdown-item" href="{% url 'TeamMembers:WebDevelopment' %}">Web Development</a>
            <a class="dropdown-item" href="{% url 'TeamMembers:GraphicDesign' %}">Graphic Design</a>
            <a class="dropdown-item" href="{% url 'TeamMembers:Finance' %}">Finance</a>
            <a class="dropdown-item" href="{% url 'TeamMembers:Marketing' %}">Marketing</a>
            <a class="dropdown-item" href="{% url 'TeamMembers:HumanResources' %}">Human Resources</a>
          </div>
        </div>
    </div>
</div>
</div>

<div class="container-fluid" style="width:80%;">
<div class="row pt-5">
    {% for TeamMember in TeamMembers %}
    <div class="col-6 col-lg-3 align-self-center">
        <div class="card" style="width: 100%; max-width: 100%; height: auto; background: transparent;">
            <div class="card-body" data-aos="fade-up">

                <div clas="text-center" style="width: 75%; height: 75%; margin: 0 auto !important; padding-bottom: 1rem;">
                    <div class="image mx-auto" style="position:relative; overflow:hidden; padding-bottom:100%; border: 5px solid #189BD0; border-radius: 50%; width: 100%; height: 100%;">
                        <img class="img img-responsive mx-auto" style="position: absolute; max-height: 100%; max-width: 100%; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); width: 100%; height: 100%;" src="{% get_media_prefix  %}{{ TeamMember.user.avatar }}">
                    </div>
                </div>
                <div class="card-text-section d-flex flex-column justify-content-center text-center" style="width: 80%; margin: 0 auto !important;">
                    <h5 class="card-title text-center" style="color: #189BD0 !important; margin: 0 auto !important; margin-bottom: 1rem !important;">{{ TeamMember.user.user.first_name|title }} {{ TeamMember.user.user.last_name|title }}</h5>
                    <p class="card-text text-center" style="margin: 0 auto !important; margin-bottom: 0.5rem !important;">{{ TeamMember.branch }}</p>
                    <p class="card-text text-center" style="margin: 0 auto !important; margin-bottom: 0.5rem !important;">{{ TeamMember.subposition }}</p>
                </div>
            
            
            
            </div>
        </div>
    </div>
    
    {% endfor %}
</div>
<!--<div class="row">
    <div class="col-6 col-lg-3 align-self-center">
        <div class="card" style="width: 100%; max-width: 100%; height: auto; background: transparent;">
            <div class="card-body">
                <img class="img-fluid rounded-circle" src="https://i.imgur.com/5Gq72P9.png" style="max-width: 100%; height: auto;">
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-3 align-self-center">
        <div class="card" style="width: 100%; max-width: 100%; height: auto; background: transparent;">
            <div class="card-body">
                <img class="img-fluid rounded-circle" src="https://i.imgur.com/5Gq72P9.png" style="max-width: 100%; height: auto;">
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-3 align-self-center">
        <div class="card" style="width: 100%; max-width: 100%; height: auto; background: transparent;">
            <div class="card-body">
                <img class="img-fluid rounded-circle" src="https://i.imgur.com/5Gq72P9.png" style="max-width: 100%; height: auto;">
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-3 align-self-center">
        <div class="card" style="width: 100%; max-width: 100%; height: auto; background: transparent;">
            <div class="card-body">
                <img class="img-fluid rounded-circle" src="https://i.imgur.com/5Gq72P9.png" style="max-width: 100%; height: auto;">
            </div>
        </div>
    </div>
</div>
</div>
-->
</div>
</main>
{% endblock %}
{% block js %}
<script src="{% static 'TeamMembers/js/about-team.js' %}"></script>
{% endblock %}












