{% load static %}
<!doctype html>
<html lang="en">

	<head>
		<!-- Meta tags -->
		<title>Subsidiaries</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta property="og:site_name" content="NovaCrypt">
		<meta property="og:title" content="Home | NovaCrypt">
		<meta property="og:description" content="An international umbrella organization dedicated to building impactful research, projects, and organizations. A community of student researchers, engineers, leaders, and programmers that join together to take their skills beyond the competitional stage. Come join one of our multiple student-led Research Initiatives and Projects!">
		<meta property="og:image" content="{% static 'novacrypt.webp' %}">
		<meta property="og:url" content="https://novacrypt.org">
		<meta name="description" content="An international umbrella organization dedicated to building impactful research, projects, and organizations. A community of student researchers, engineers, leaders, and programmers that join together to take their skills beyond the competitional stage. Come join one of our multiple student-led Research Initiatives and Projects!">
		<!-- Twitter Meta tags -->
		<meta name="twitter:title" content="Home | NovaCrypt">
		<meta name="twitter:description" content="An international umbrella organization dedicated to building impactful research, projects, and organizations. A community of student researchers, engineers, leaders, and programmers that join together to take their skills beyond the competitional stage Come join one of our multiple student-led Research Initiatives and Projects!">
		<meta name="twitter:image" content="https://novacrypt.org/assets/images/novacrypt.png">
		<meta name="twitter:card" content="summary_large_image"> <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta property="og:type" content="website">
		<meta name="theme-color" content="#00ADEF">
		<link rel="shortcut icon" href="{% static 'novacrypt.webp' %}">
		
		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
	 
		  <!-- CSS -->
		<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/css/all.min.css'>
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
		 <!-- Bootstrap CSS -->
		 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
			 integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	 
		 <link href="{% static 'scrollbar.css' %}" rel="stylesheet">
	 </head>
<style>
	 @font-face {
    font-family: 'Bahnschrift';
    src: url('https://cdn.novacrypt.org/static/Bahnschrift.woff2') format('woff2'),
        url('https://cdn.novacrypt.org/static/Bahnschrift.woff') format('woff');
		font-weight: 400 900;
    font-style: normal;
    font-display: swap;
} 

.loader-wrapper {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #030303;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        
          .loader {
            display: inline-block;
            width: 30px;
            height: 30px;
            position: relative;
            border: 4px solid #00b0f0;
            animation: loader 2s infinite ease;
          }
        
          .loader-inner {
            vertical-align: top;
            display: inline-block;
            width: 100%;
            background-color: #00b0f0;
            animation: loader-inner 2s infinite ease-in;
          }
        
          @keyframes loader {
            0% {
              transform: rotate(0deg);
            }
        
            25% {
              transform: rotate(180deg);
            }
        
            50% {
              transform: rotate(180deg);
            }
        
            75% {
              transform: rotate(360deg);
            }
        
            100% {
              transform: rotate(360deg);
            }
          }
        
          @keyframes loader-inner {
            0% {
              height: 0%;
            }
        
            25% {
              height: 0%;
            }
        
            50% {
              height: 100%;
            }
        
            75% {
              height: 100%;
            }
        
            100% {
              height: 0%;
            }
          }
    h2 {
        color: #00b0f0 !important;
    }

    .card {
        border: 8px #00b0f0 solid !important;
        background: #000;
        color: white;
        margin: 1rem !important;
    }

    #left {
        background: #000;
    }

    .navbar {
        background-color: transparent !important;
        color: white !important;
    }

    #one {
        min-height: 100vh !important;
    }

    .nav-link {
        color: white !important;
    }

    #firstbutton{
        color: white !important;
        border: 2px #00b0f0 solid !important;
    }

   #firstbutton:hover {
        background-color: #00b0f0 !important;

    }
    #secondbutton {
        color:  #00b0f0 !important;
        border: 8px #00b0f0 solid !important;
		border-radius: 20px;
		
    }

    #secondbutton:hover {
        background-color: #00b0f0 !important;
        color: white !important;
    }
	
	a.custom-card,
	a.custom-card:hover {
	  color: inherit;
	}
	
.parallelogram1 {
    position: absolute;
	left: 0px;
	top: 0px;
	width: 10px;
	height: 144px;
	transform: skew(-25deg);
	background: #555;
}
.parallelogram2 {
    position: absolute;
	left: 10px;
	top: 0px;
	width: 10px;
	height: 144px;
	transform: skew(-25deg);
	background: #00b0f0;
}

.parallelogram4 {
    position: absolute;
	left: 17px;
	top: -32px;
	width: 70px;
	height: 25px;
	transform: skew(-25deg);
	background: #FF0000;
}
.parallelogram3 {
    position: absolute;
	left: 11px;
	top: -35px;
	width: 80px;
	height: 35px;
	transform: skew(-25deg);
	background: #00b0f0;
}

.beta-tag{
position: absolute;
	left: 25%;
	top: 0%;
	
	
}

.triangle1 {
    position: absolute;
	left: 72%;
	top: 0%;
	z-index:99;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 144px 67px 0 0;
	border-color: #030303 transparent transparent transparent;
}
.triangle2 {
    position: absolute;
	left: 79%;
	top: 0%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 144px 67px;
	border-color: transparent transparent #FFFFFF transparent;
}

.triangle3 {
    position: absolute;
	left: 79%;
	top: 0%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 144px 67px;
	border-color: transparent transparent #000000 transparent;
}


.triangle4 {
    position: absolute;
	left: 79%;
	top: 0%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 144px 67px;
	border-color: transparent transparent #11397D transparent;
}

.triangle5 {
    position: absolute;
	left: 79%;
	top: 0%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 144px 67px;
	border-color: transparent transparent #0B3F81 transparent;
}

.typewriter h1 {
  overflow: hidden;
  float: left;
  border-right: .15em solid #00b0f0;
  white-space: nowrap; 
  margin: 0 auto; 
  animation: 
    typing 1.5s steps(15, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #00b0f0; }
}


</style>

<body style="background-color: #000000;">
    <div class="d-none d-lg-block container-fluid" id='one' style="font-family: 'bahnschrift'; background-color: #000000;">
        <div class="row" id="one" style="background-color: #000000;">
            <div class="col-md-3 d-flex flex-column justify-content-center align-items-center" id='left' style="background-color: #000000;">
                <h2 class="py-5">Subsidiaries</h2>
				
			

				{% for Subsidiary in Subsidiaries %}
				 <div class="card" style="width: 18rem; height:10rem; border-radius: 20px;" data-aos="fade-up">
					<div class="row no-gutters" style="height:100%;">
					   <div class="col-5" style="height:100%;  border-radius: 20px; background-color: #030303;" >
						  <div class="card-body pr-0 pl-2">
							 <h5 class="card-title" style="font-size: 1.2rem !important; color: #00b0f0; font-weight: 600 !important; background-color: #030303;  z-index:100; position: relative;">{{Subsidiary.name}}</h5>
						  </div>

						  {% if Subsidiary.tag == 1 %}
						  <div class="parallelogram3"></div>
						  <div class="parallelogram4">
						  <p class="beta-tag" style="transform: skew(25deg);">BETA</p>
						  </div>
						  {% endif %}
						  {% if Subsidiary.tag == 2 %}
						  <div class="parallelogram3"></div>
						  <div class="parallelogram4">
						  <p class="beta-tag" style="transform: skew(25deg);">DOWN</p>
						  </div>
						  {% endif %}
						  <div class="triangle1"></div>
						  <div class="triangle2" style="border-color: transparent transparent #{{Subsidiary.IconCardBGColor}} transparent;"></div>
					   </div>
					   <div class="col-7" style="height:100%;  background-color: #{{Subsidiary.IconCardBGColor}}; border-radius: 10px;">
						  <div class="parallelogram1"></div>
						  <div class="parallelogram2"></div>
						  <img src="{{Subsidiary.logo.url}}" class="img-fluid float-right m-3" style="height:75%; border-radius: 8%;  background-color: #{{Subsidiary.IconCardBGColor}};">
					   </div>
					</div>
					<a href="{{Subsidiary.link}}}" class="stretched-link"></a>
				 </div>

				 <div style="height: 2rem;"></div>
					 
				{% endfor %}




				<div class="card" style="width: 18rem; height:10rem; border-radius: 20px;" data-aos="fade-up">
					<div class="row no-gutters" style="height:100%;">
					   <div class="col-5" style="height:100%;  border-radius: 20px; background-color: #030303;" >
						  <div class="card-body pr-0 pl-2">
							 <h5 class="card-title" style="color: #00b0f0; font-weight: 600 !important; background-color: #030303;  z-index:100; position: relative;">NPOCore</h5>
						  </div>

						  <div class="triangle1"></div>
						  <div class="triangle2"></div>
					   </div>
					   <div class="col-7" style="height:100%;  background-color: #FFFFFF; border-radius: 10px;">
						  <div class="parallelogram1"></div>
						  <div class="parallelogram2"></div>
						  <img src="https://cdn.novacrypt.org/media/Subsidiary_Logo/Subsidiary_61f63e1a-0208-4846-8669-03cfce9dcf93_NPOCoreLogo.png" class="img-fluid float-right m-3" style="height:75%; border-radius: 8%;  background-color: #FFFFFF;">
					   </div>
					</div>
					<a href="https://npocore.com/" class="stretched-link"></a>
				 </div>

				 <div style="height: 2rem;"></div>

				 
				 <div class="card" style="width: 18rem; height:10rem; border-radius: 20px;" data-aos="fade-up">
					<div class="row no-gutters" style="height:100%;">
					   <div class="col-5" style="height:100%;  border-radius: 20px; background-color: #030303;" >
						  <div class="card-body pr-0 pl-2">
							 <h5 class="card-title" style="color: #00b0f0; font-weight: 600 !important; background-color: #030303;  z-index:100; position: relative;">Ortexo</h5>
						  </div>

						  <div class="triangle1"></div>
						  <div class="triangle4"></div>
					   </div>
					   <div class="col-7" style="height:100%;  background-color: #11397D; border-radius: 10px;">
						  <div class="parallelogram1"></div>
						  <div class="parallelogram2"></div>
						  <img src="https://cdn.novacrypt.org/media/Subsidiary_Logo/Subsidiary_ce21d44e-35c1-4a46-9e7a-8f7460a67ed7_rip.png" class="img-fluid float-right m-3" style="height:75%; border-radius: 8%;  background-color: #11397D;">
					   </div>
					</div>
					<a href="https://ortexo.com/" class="stretched-link"></a>
				 </div>

				 <div style="height: 2rem;"></div>

				 
				 <div class="card" style="width: 18rem; height:10rem; border-radius: 20px;" data-aos="fade-up">
					<div class="row no-gutters" style="height:100%;">
					   <div class="col-5" style="height:100%;  border-radius: 20px; background-color: #030303;" >
						  <div class="card-body pr-0 pl-2">
							 <h5 class="card-title" style="color: #00b0f0; font-weight: 600 !important; background-color: #030303;  z-index:100; position: relative;">W3Hacks</h5>
						  </div>

						  <div class="triangle1"></div>
						  <div class="triangle2"></div>
					   </div>
					   <div class="col-7" style="height:100%;  background-color: #FFFFFF; border-radius: 10px;">
						  <div class="parallelogram1"></div>
						  <div class="parallelogram2"></div>
						  <img src="https://cdn.novacrypt.org/media/Subsidiary_Logo/Subsidiary_f18ef0ab-795e-4e13-afb7-697665a3df39_w3hacks.png" class="img-fluid float-right m-3" style="height:75%; border-radius: 8%;  background-color: #FFFFFF;">
					   </div>
					</div>
					<a href="https://w3hacks.com/" class="stretched-link"></a>
				 </div>

				 <div style="height: 2rem;"></div>

				 
				 <div class="card" style="width: 18rem; height:10rem; border-radius: 20px;" data-aos="fade-up">
					<div class="row no-gutters" style="height:100%;">
					   <div class="col-5" style="height:100%;  border-radius: 20px; background-color: #030303;" >
						  <div class="card-body pr-0 pl-2">
							 <h5 class="card-title" style="color: #00b0f0; font-weight: 600 !important; background-color: #030303;  z-index:100; position: relative;">The Nexus</h5>
						  </div>

						  <div class="triangle1"></div>
						  <div class="triangle2"></div>
					   </div>
					   <div class="col-7" style="height:100%;  background-color: #FFFFFF; border-radius: 10px;">
						  <div class="parallelogram1"></div>
						  <div class="parallelogram2"></div>
						  <img src="https://cdn.novacrypt.org/media/Subsidiary_Logo/Subsidiary_7cd84ba2-ff8a-48d3-ae08-7a365f317b35_nexus_white.png" class="img-fluid float-right m-3" style="height:75%; border-radius: 8%;  background-color: #FFFFFF;">
					   </div>
					</div>
					<a href="https://thenexus.dev/" class="stretched-link"></a>
				 </div>

				 <div style="height: 2rem;"></div>

				 
				 <div class="card" style="width: 18rem; height:10rem; border-radius: 20px;" data-aos="fade-up">
					<div class="row no-gutters" style="height:100%;">
					   <div class="col-5" style="height:100%;  border-radius: 20px; background-color: #030303;" >
						  <div class="card-body pr-0 pl-2">
							 <h5 class="card-title" style="color: #00b0f0; font-weight: 600 !important; background-color: #030303;  z-index:100; position: relative;">IdeateX </h5>
						  </div>

						  <div class="triangle1"></div>
						  <div class="triangle2"></div>
					   </div>
					   <div class="col-7" style="height:100%;  background-color: #FFFFFF; border-radius: 10px;">
						  <div class="parallelogram1"></div>
						  <div class="parallelogram2"></div>
						  <img src="https://cdn.novacrypt.org/media/Subsidiary_Logo/Subsidiary_10014715-1b36-4734-9348-7039bdc8d6b7_IdeateX_1.jpg" class="img-fluid float-right m-3" style="height:75%; border-radius: 8%;  background-color: #FFFFFF;">
					   </div>
					</div>
					<a href="https://ideatex.org/" class="stretched-link"></a>
				 </div>

				 <div style="height: 2rem;"></div>

				 
				 <div class="card" style="width: 18rem; height:10rem; border-radius: 20px;" data-aos="fade-up">
					<div class="row no-gutters" style="height:100%;">
					   <div class="col-5" style="height:100%;  border-radius: 20px; background-color: #030303;" >
						  <div class="card-body pr-0 pl-2">
							 <h5 class="card-title" style="color: #00b0f0; font-weight: 600 !important; background-color: #030303;  z-index:100; position: relative;">AuraEdge </h5>
						  </div>
						  <div class="parallelogram3"></div>
						  <div class="parallelogram4">
						  <p class="beta-tag" style="transform: skew(25deg);">BETA</p>
						  </div>
						  <div class="triangle1"></div>
						  <div class="triangle2"></div>
					   </div>
					   <div class="col-7" style="height:100%;  background-color: #FFFFFF; border-radius: 10px;">
						  <div class="parallelogram1"></div>
						  <div class="parallelogram2"></div>
						  <img src="https://cdn.novacrypt.org/media/Subsidiary_Logo/Subsidiary_bec4d960-5c5d-4c09-93fb-bd4c1506db82_auraedge_logo.png" class="img-fluid float-right m-3" style="height:75%; border-radius: 8%;  background-color: #FFFFFF;">
					   </div>
					</div>
					<a href="https://auraedge.net/" class="stretched-link"></a>
				 </div>

				 <div style="height: 2rem;"></div>

				 
				 <div class="card" style="width: 18rem; height:10rem; border-radius: 20px;" data-aos="fade-up">
					<div class="row no-gutters" style="height:100%;">
					   <div class="col-5" style="height:100%;  border-radius: 20px; background-color: #030303;" >
						  <div class="card-body pr-0 pl-2">
							 <h5 class="card-title" style="color: #00b0f0; font-weight: 600 !important; background-color: #030303;  z-index:100; position: relative;">EconHacks </h5>
						  </div>

						  <div class="triangle1"></div>
						  <div class="triangle5"></div>
					   </div>
					   <div class="col-7" style="height:100%;  background-color: #0B3F81; border-radius: 10px;">
						  <div class="parallelogram1"></div>
						  <div class="parallelogram2"></div>
						  <img src="https://cdn.novacrypt.org/static/Landing/images/econhacks.jpg" class="img-fluid float-right m-3" style="height:75%; border-radius: 8%;  background-color: 0B3F81;">
					   </div>
					</div>
					<a href="https://econhacks.org/" class="stretched-link"></a>
				 </div>

				 <div style="height: 2rem;"></div>

				 
				 <div class="card" style="width: 18rem; height:10rem; border-radius: 20px;" data-aos="fade-up">
					<div class="row no-gutters" style="height:100%;">
					   <div class="col-5" style="height:100%;  border-radius: 20px; background-color: #030303;" >
						  <div class="card-body pr-0 pl-2">
							 <h5 class="card-title" style="color: #00b0f0; font-weight: 600 !important; background-color: #030303;  z-index:100; position: relative;">StartUpper </h5>
						  </div>

						  <div class="triangle1"></div>
						  <div class="triangle2"></div>
					   </div>
					   <div class="col-7" style="height:100%;  background-color: #FFFFFF; border-radius: 10px;">
						  <div class="parallelogram1"></div>
						  <div class="parallelogram2"></div>
						  <img src="https://cdn.novacrypt.org/static/Landing/images/image01.png" class="img-fluid float-right m-3" style="height:75%; border-radius: 8%;  background-color: #FFFFFF;">
					   </div>
					</div>
					<a href="https://startupper.carrd.co/" class="stretched-link"></a>
				 </div>

				 <div style="height: 2rem;"></div>

				 
				 <div class="card" style="width: 18rem; height:10rem; border-radius: 20px;" data-aos="fade-up">
					<div class="row no-gutters" style="height:100%;">
					   <div class="col-5" style="height:100%;  border-radius: 20px; background-color: #030303;" >
						  <div class="card-body pr-0 pl-2">
							 <h5 class="card-title" style="color: #00b0f0; font-weight: 600 !important; background-color: #030303;  z-index:100; position: relative;">ISPC </h5>
						  </div>
						  <div class="parallelogram3"></div>
						  <div class="parallelogram4">
						  <p class="beta-tag" style="transform: skew(25deg);">BETA</p>
						  </div>
						  <div class="triangle1"></div>
						  <div class="triangle2"></div>
					   </div>
					   <div class="col-7" style="height:100%;  background-color: #FFFFFF; border-radius: 10px;">
						  <div class="parallelogram1"></div>
						  <div class="parallelogram2"></div>
						  <img src="https://cdn.novacrypt.org/media/Subsidiary_Logo/Subsidiary_27d00aaf-ab4e-439d-a1e5-5182ba7345c5_ispcwhite.png" class="img-fluid float-right m-3" style="height:75%; border-radius: 8%;  background-color: #FFFFFF;">
					   </div>
					</div>
					<a href="https://ispc.typeform.com/to/pjxGNBBU" class="stretched-link"></a>
				 </div>

				 <div style="height: 2rem;"></div>

				 
				 <div class="card" style="width: 18rem; height:10rem; border-radius: 20px;" data-aos="fade-up">
					<div class="row no-gutters" style="height:100%;">
					   <div class="col-5" style="height:100%;  border-radius: 20px; background-color: #030303;" >
						  <div class="card-body pr-0 pl-2">
							 <h5 class="card-title" style="color: #00b0f0; font-weight: 600 !important; background-color: #030303;  z-index:100; position: relative;">Modulus </h5>
						  </div>

						  <div class="triangle1"></div>
						  <div class="triangle2"></div>
					   </div>
					   <div class="col-7" style="height:100%;  background-color: #FFFFFF; border-radius: 10px;">
						  <div class="parallelogram1"></div>
						  <div class="parallelogram2"></div>
						  <img src="https://cdn.novacrypt.org/static/Landing/images/ModulusIcon.png" class="img-fluid float-right m-3" style="height:75%; border-radius: 8%;  background-color: #FFFFFF;">
					   </div>
					</div>
					<a href="https://modulusedu.com/" class="stretched-link"></a>
				 </div>

				 <div style="height: 2rem;"></div>
				 
				 <div class="card" style="width: 18rem; height:10rem; border-radius: 20px;" data-aos="fade-up">
					<div class="row no-gutters" style="height:100%;">
					   <div class="col-5" style="height:100%;  border-radius: 20px; background-color: #030303;" >
						  <div class="card-body pr-0 pl-2">
							 <h5 class="card-title" style="color: #00b0f0; font-weight: 600 !important; background-color: #030303;  z-index:100; position: relative;">Interstellar Initiative</h5>
						  </div>
						  <div class="parallelogram3"></div>
						  <div class="parallelogram4">
						  <p class="beta-tag" style="transform: skew(25deg);">DOWN</p>
						  </div>
						  <div class="triangle1"></div>
						  <div class="triangle3"></div>
					   </div>
					   <div class="col-7" style="height:100%;  background-color: #000000; border-radius: 10px;">
						  <div class="parallelogram1"></div>
						  <div class="parallelogram2"></div>
						  <img src="https://cdn.novacrypt.org/media/Subsidiary_Logo/Subsidiary_b5a37396-6a8e-43fc-8d56-4f330c46d0fe_roket1x.png" class="img-fluid float-right m-3" style="height:75%; border-radius: 8%;  background-color: #000000;">
					   </div>
					</div>
					<a href="https://interstellarinitiative.net/" class="stretched-link"></a>
				 </div>

				 <div style="height: 2rem;"></div>

				 
				 <div class="card" style="width: 18rem; height:10rem; border-radius: 20px;" data-aos="fade-up">
					<div class="row no-gutters" style="height:100%;">
					   <div class="col-5" style="height:100%;  border-radius: 20px; background-color: #030303;" >
						  <div class="card-body pr-0 pl-2">
							 <h5 class="card-title" style="color: #00b0f0; font-weight: 600 !important; background-color: #030303;  z-index:100; position: relative;">WaveFrnt</h5>
						  </div>
						  <div class="parallelogram3"></div>
						  <div class="parallelogram4">
						  <p class="beta-tag" style="transform: skew(25deg);">DOWN</p>
						  </div>
						  <div class="triangle1"></div>
						  <div class="triangle2"></div>
					   </div>
					   <div class="col-7" style="height:100%;  background-color: #FFFFFF; border-radius: 10px;">
						  <div class="parallelogram1"></div>
						  <div class="parallelogram2"></div>
						  <img src="https://cdn.novacrypt.org/media/Subsidiary_Logo/Subsidiary_7249597d-0bc6-4245-83a2-4336b1b6cbf3_wavefrntlogowhite01_1.png" class="img-fluid float-right m-3" style="height:75%; border-radius: 8%;  background-color: #FFFFFF;">
					   </div>
					</div>
					<a href="https://wavefrnt.com/" class="stretched-link"></a>
				 </div>

				 <div style="height: 2rem;"></div>
					
            </div>
			
			
			
			
			
            <div class=" col-md-9" style="position: fixed; position: fixed; top: 0; right: 0; width: 75%; height:100%; background:#030303;">
                <nav class="navbar text-light navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand text-light" href="{% url 'Landing:index' %}">
                        <a class="navbar-brand pt-2" href="{% url 'Landing:index' %}">
                            <img src="https://cdn.novacrypt.org/static/Landing/images/NC_Logo_2_White.png" width="215" height="60" class="d-inline-block align-top" alt="">
                           
                          </a>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto text-light">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'Landing:about' %}">
                                    ABOUT
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="" href="{% url 'Landing:services' %}">
                                    NAVIGATION
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'Landing:contact' %}">
                                    CONTACT
                                </a>
                            </li>
                            <li class="nav-item">
                                <form class="form-inline">
                                    {% if request.user.is_authenticated %}
									<a href="{% url 'Administration:dashboard' %}" type="button" class="btn btn-outline-light ml-2" id='firstbutton'> DASHBOARD
									</a>
									{% else %}
									<a href="{% url 'Administration:signup' %}" type="button" class="btn btn-outline-light ml-2" id='firstbutton'> SIGN UP
									</a>
									
									{% endif %}
                                </form>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="container-fluid mt-md-5" style="font-family: 'bahnschrift';">
                    <div class="row p-5 mb-5">
                        <div class="col-md-7 ">
                            <div class="row">
                                <h1 class='display-1' style="color: white !important; font-weight: bold !important; font-size:  6vw !important; width:100%;" data-aos="fade-up">
                                    NAVIGATION
                                </h1>
                            </div>
                            <div class="row mt-md-5 pt-5" data-aos="fade-up">
                                <h1 style="color: white; font-weight: bold !important;">Discover our</h1>
								<div class="typewriter">
								<h1 style="color: #00b0f0 ; font-weight: bold !important;"> &nbspSubsidiaries. </h1>
								</div>
                            </div>
                        </div>
                        <div class="col-md-4" data-aos="fade-up">
                            <img src="https://cdn.novacrypt.org/static/Landing/images/mainlogosmall.gif" class="img-fluid" style="width:80%;">
                        </div>
                    </div>
                </div>
                <div class="container-fluid" data-aos="fade-up">
                    <div class="row d-flex flex-wrap flex-row justify-content-around align-items-center pb-4">
 						<a href="{% url 'Landing:services' %}" type="button" class="btn btn-outline-light btn-lg px-5 m-2" id='secondbutton' style="padding-bottom:2.5%; padding-top:2.5%;"  data-aos="fade-up">Services</a>
                        <a href="{% url 'Landing:research' %}" type="button" class="btn btn-outline-light btn-lg px-5 m-2" id='secondbutton' style="padding-bottom:2.5%; padding-top:2.5%;"  data-aos="fade-up">Research</a>
                        <a href="{% url 'Landing:news' %}" type="button" class="btn btn-outline-light btn-lg px-5 m-2" id='secondbutton' style="padding-bottom:2.5%; padding-top:2.5%;"  data-aos="fade-up">News</a>
                        <a href="{% url 'Landing:subsidiaries' %}" type="button" class="btn btn-outline-light btn-lg px-5 m-2" id='secondbutton' style="padding-bottom:2.5%; padding-top:2.5%;"  data-aos="fade-up">Subsidiaries</a>

                       
                    </div>
					 <hr style="height:8px;color:gray;background-color:#00b0f0; width:93%;"> 
                </div>
            </div>
        </div>
    </div>
	<div class="d-lg-none container-fluid" id='one' style="font-family: 'bahnschrift'; background-color: #030303;">
		<nav class="navbar text-light navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand text-light" href="{% url 'Landing:index' %}">
				<a class="navbar-brand pt-2" href="{% url 'Landing:index' %}">
					<img src="https://cdn.novacrypt.org/static/Landing/images/NC_Logo_2_White.png" width="215" height="60" class="d-inline-block align-top" alt="">
				   
				  </a>
			</a>
			<button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto text-light">
					<li class="nav-item active">
						<a class="nav-link" href="{% url 'Landing:about' %}">
							ABOUT
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" style="" href="{% url 'Landing:services' %}">
							NAVIGATION
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'Landing:contact' %}">
							CONTACT
						</a>
					</li>
					<li class="nav-item">
						<form class="form-inline">
							{% if request.user.is_authenticated %}
							<a href="{% url 'Administration:dashboard' %}" type="button" class="btn btn-outline-light ml-2" id='firstbutton'> DASHBOARD
							</a>
							{% else %}
							<a href="{% url 'Administration:signup' %}" type="button" class="btn btn-outline-light ml-2" id='firstbutton'> SIGN UP
							</a>
							
							{% endif %}
						</form>
					</li>
				</ul>
			</div>
		</nav>

                <div class="container-fluid mt-md-5" style="font-family: 'bahnschrift';">
                    <div class="row  mb-5">
                        <div class="col-md-7 pt-5">
                            <div class="row" style="justify-content: center; align-items: center;">
                                <h1 class='' style="color: white !important; font-weight: bold !important; font-size: 3rem !important;" data-aos="fade-up">
                                    NAVIGATION
                                </h1>
                            </div>
                            <div class="row mt-md-5 py-5 mx-auto" data-aos="fade-up" style="justify-content: center; align-items: center;">
                                <h1 style="color: white; font-weight: bold !important;">Discover our</h1>
								<div class="typewriter">
								<h1 style="color: #00b0f0 ; font-weight: bold !important;"> &nbspSubsidiaries. </h1>
								</div>
                            </div>
                        </div>
                        <div class="col-md-4 mx-auto" data-aos="fade-up">
                            <img src="https://cdn.novacrypt.org/static/Landing/images/mainlogosmall.gif" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row d-flex flex-wrap flex-row justify-content-around align-items-center pb-4">
                         <a href="{% url 'Landing:services' %}" type="button" class="btn btn-outline-light btn-lg px-5 m-2" id='secondbutton' style="padding-bottom:2.5%; padding-top:2.5%;"  data-aos="fade-up">Services</a>
                        <a href="{% url 'Landing:research' %}" type="button" class="btn btn-outline-light btn-lg px-5 m-2" id='secondbutton' style="padding-bottom:2.5%; padding-top:2.5%;"  data-aos="fade-up">Research</a>
                        <a href="{% url 'Landing:news' %}" type="button" class="btn btn-outline-light btn-lg px-5 m-2" id='secondbutton' style="padding-bottom:2.5%; padding-top:2.5%;"  data-aos="fade-up">News</a>
                        <a href="{% url 'Landing:subsidiaries' %}" type="button" class="btn btn-outline-light btn-lg px-5 m-2" id='secondbutton' style="padding-bottom:2.5%; padding-top:2.5%;"  data-aos="fade-up">Subsidiaries</a>

                       
                    </div>
					 <hr style="height:8px;color:gray;background-color:#00b0f0; width:93%;" data-aos="fade-up"> 
                </div>
				<div class="row justify-content-center align-items-center" data-aos="fade-up">
                <h2 class="py-5">Subsidiaries</h2>
				
			


				<div class="card" style="width: 18rem; height:10rem; border-radius: 20px;" data-aos="fade-up">
					<div class="row no-gutters" style="height:100%;">
					   <div class="col-5" style="height:100%;  border-radius: 20px; background-color: #030303;" >
						  <div class="card-body pr-0 pl-2">
							 <h5 class="card-title" style="color: #00b0f0; font-weight: 600 !important; background-color: #030303;  z-index:100; position: relative;">NPOCore</h5>
						  </div>

						  <div class="triangle1"></div>
						  <div class="triangle2"></div>
					   </div>
					   <div class="col-7" style="height:100%;  background-color: #FFFFFF; border-radius: 10px;">
						  <div class="parallelogram1"></div>
						  <div class="parallelogram2"></div>
						  <img src="https://cdn.novacrypt.org/media/Subsidiary_Logo/Subsidiary_61f63e1a-0208-4846-8669-03cfce9dcf93_NPOCoreLogo.png" class="img-fluid float-right m-3" style="height:75%; border-radius: 8%;  background-color: #FFFFFF;">
					   </div>
					</div>
					<a href="https://npocore.com/" class="stretched-link"></a>
				 </div>

				 <div style="height: 2rem;"></div>

				 
				 <div class="card" style="width: 18rem; height:10rem; border-radius: 20px;" data-aos="fade-up">
					<div class="row no-gutters" style="height:100%;">
					   <div class="col-5" style="height:100%;  border-radius: 20px; background-color: #030303;" >
						  <div class="card-body pr-0 pl-2">
							 <h5 class="card-title" style="color: #00b0f0; font-weight: 600 !important; background-color: #030303;  z-index:100; position: relative;">Ortexo</h5>
						  </div>

						  <div class="triangle1"></div>
						  <div class="triangle4"></div>
					   </div>
					   <div class="col-7" style="height:100%;  background-color: #11397D; border-radius: 10px;">
						  <div class="parallelogram1"></div>
						  <div class="parallelogram2"></div>
						  <img src="https://cdn.novacrypt.org/media/Subsidiary_Logo/Subsidiary_ce21d44e-35c1-4a46-9e7a-8f7460a67ed7_rip.png" class="img-fluid float-right m-3" style="height:75%; border-radius: 8%;  background-color: #11397D;">
					   </div>
					</div>
					<a href="https://ortexo.com/" class="stretched-link"></a>
				 </div>

				 <div style="height: 2rem;"></div>

				 
				 <div class="card" style="width: 18rem; height:10rem; border-radius: 20px;" data-aos="fade-up">
					<div class="row no-gutters" style="height:100%;">
					   <div class="col-5" style="height:100%;  border-radius: 20px; background-color: #030303;" >
						  <div class="card-body pr-0 pl-2">
							 <h5 class="card-title" style="color: #00b0f0; font-weight: 600 !important; background-color: #030303;  z-index:100; position: relative;">W3Hacks</h5>
						  </div>

						  <div class="triangle1"></div>
						  <div class="triangle2"></div>
					   </div>
					   <div class="col-7" style="height:100%;  background-color: #FFFFFF; border-radius: 10px;">
						  <div class="parallelogram1"></div>
						  <div class="parallelogram2"></div>
						  <img src="https://cdn.novacrypt.org/media/Subsidiary_Logo/Subsidiary_f18ef0ab-795e-4e13-afb7-697665a3df39_w3hacks.png" class="img-fluid float-right m-3" style="height:75%; border-radius: 8%;  background-color: #FFFFFF;">
					   </div>
					</div>
					<a href="https://w3hacks.com/" class="stretched-link"></a>
				 </div>

				 <div style="height: 2rem;"></div>

				 
				 <div class="card" style="width: 18rem; height:10rem; border-radius: 20px;" data-aos="fade-up">
					<div class="row no-gutters" style="height:100%;">
					   <div class="col-5" style="height:100%;  border-radius: 20px; background-color: #030303;" >
						  <div class="card-body pr-0 pl-2">
							 <h5 class="card-title" style="color: #00b0f0; font-weight: 600 !important; background-color: #030303;  z-index:100; position: relative;">The Nexus</h5>
						  </div>

						  <div class="triangle1"></div>
						  <div class="triangle2"></div>
					   </div>
					   <div class="col-7" style="height:100%;  background-color: #FFFFFF; border-radius: 10px;">
						  <div class="parallelogram1"></div>
						  <div class="parallelogram2"></div>
						  <img src="https://cdn.novacrypt.org/media/Subsidiary_Logo/Subsidiary_7cd84ba2-ff8a-48d3-ae08-7a365f317b35_nexus_white.png" class="img-fluid float-right m-3" style="height:75%; border-radius: 8%;  background-color: #FFFFFF;">
					   </div>
					</div>
					<a href="https://thenexus.dev/" class="stretched-link"></a>
				 </div>

				 <div style="height: 2rem;"></div>

				 
				 <div class="card" style="width: 18rem; height:10rem; border-radius: 20px;" data-aos="fade-up">
					<div class="row no-gutters" style="height:100%;">
					   <div class="col-5" style="height:100%;  border-radius: 20px; background-color: #030303;" >
						  <div class="card-body pr-0 pl-2">
							 <h5 class="card-title" style="color: #00b0f0; font-weight: 600 !important; background-color: #030303;  z-index:100; position: relative;">IdeateX </h5>
						  </div>

						  <div class="triangle1"></div>
						  <div class="triangle2"></div>
					   </div>
					   <div class="col-7" style="height:100%;  background-color: #FFFFFF; border-radius: 10px;">
						  <div class="parallelogram1"></div>
						  <div class="parallelogram2"></div>
						  <img src="https://cdn.novacrypt.org/media/Subsidiary_Logo/Subsidiary_10014715-1b36-4734-9348-7039bdc8d6b7_IdeateX_1.jpg" class="img-fluid float-right m-3" style="height:75%; border-radius: 8%;  background-color: #FFFFFF;">
					   </div>
					</div>
					<a href="https://ideatex.org/" class="stretched-link"></a>
				 </div>

				 <div style="height: 2rem;"></div>

				 
				 <div class="card" style="width: 18rem; height:10rem; border-radius: 20px;" data-aos="fade-up">
					<div class="row no-gutters" style="height:100%;">
					   <div class="col-5" style="height:100%;  border-radius: 20px; background-color: #030303;" >
						  <div class="card-body pr-0 pl-2">
							 <h5 class="card-title" style="color: #00b0f0; font-weight: 600 !important; background-color: #030303;  z-index:100; position: relative;">AuraEdge </h5>
						  </div>
						  <div class="parallelogram3"></div>
						  <div class="parallelogram4">
						  <p class="beta-tag" style="transform: skew(25deg);">BETA</p>
						  </div>
						  <div class="triangle1"></div>
						  <div class="triangle2"></div>
					   </div>
					   <div class="col-7" style="height:100%;  background-color: #FFFFFF; border-radius: 10px;">
						  <div class="parallelogram1"></div>
						  <div class="parallelogram2"></div>
						  <img src="https://cdn.novacrypt.org/media/Subsidiary_Logo/Subsidiary_bec4d960-5c5d-4c09-93fb-bd4c1506db82_auraedge_logo.png" class="img-fluid float-right m-3" style="height:75%; border-radius: 8%;  background-color: #FFFFFF;">
					   </div>
					</div>
					<a href="https://auraedge.net/" class="stretched-link"></a>
				 </div>

				 <div style="height: 2rem;"></div>

				 
				 <div class="card" style="width: 18rem; height:10rem; border-radius: 20px;" data-aos="fade-up">
					<div class="row no-gutters" style="height:100%;">
					   <div class="col-5" style="height:100%;  border-radius: 20px; background-color: #030303;" >
						  <div class="card-body pr-0 pl-2">
							 <h5 class="card-title" style="color: #00b0f0; font-weight: 600 !important; background-color: #030303;  z-index:100; position: relative;">EconHacks </h5>
						  </div>

						  <div class="triangle1"></div>
						  <div class="triangle5"></div>
					   </div>
					   <div class="col-7" style="height:100%;  background-color: #0B3F81; border-radius: 10px;">
						  <div class="parallelogram1"></div>
						  <div class="parallelogram2"></div>
						  <img src="https://cdn.novacrypt.org/static/Landing/images/econhacks.jpg" class="img-fluid float-right m-3" style="height:75%; border-radius: 8%;  background-color: 0B3F81;">
					   </div>
					</div>
					<a href="https://econhacks.org/" class="stretched-link"></a>
				 </div>

				 <div style="height: 2rem;"></div>

				 
				 <div class="card" style="width: 18rem; height:10rem; border-radius: 20px;" data-aos="fade-up">
					<div class="row no-gutters" style="height:100%;">
					   <div class="col-5" style="height:100%;  border-radius: 20px; background-color: #030303;" >
						  <div class="card-body pr-0 pl-2">
							 <h5 class="card-title" style="color: #00b0f0; font-weight: 600 !important; background-color: #030303;  z-index:100; position: relative;">StartUpper </h5>
						  </div>

						  <div class="triangle1"></div>
						  <div class="triangle2"></div>
					   </div>
					   <div class="col-7" style="height:100%;  background-color: #FFFFFF; border-radius: 10px;">
						  <div class="parallelogram1"></div>
						  <div class="parallelogram2"></div>
						  <img src="https://images.squarespace-cdn.com/content/55b029a1e4b0c3a0588375fb/1525787447286-R2TCQJD8BAPSUVMZ7OVQ/400dpiLogoCropped.png?content-type=image%2Fpng" class="img-fluid float-right m-3" style="height:75%; border-radius: 8%;  background-color: #FFFFFF;">
					   </div>
					</div>
					<a href="https://startupper.carrd.co/" class="stretched-link"></a>
				 </div>

				 <div style="height: 2rem;"></div>

				 
				 <div class="card" style="width: 18rem; height:10rem; border-radius: 20px;" data-aos="fade-up">
					<div class="row no-gutters" style="height:100%;">
					   <div class="col-5" style="height:100%;  border-radius: 20px; background-color: #030303;" >
						  <div class="card-body pr-0 pl-2">
							 <h5 class="card-title" style="color: #00b0f0; font-weight: 600 !important; background-color: #030303;  z-index:100; position: relative;">ISPC </h5>
						  </div>
						  <div class="parallelogram3"></div>
						  <div class="parallelogram4">
						  <p class="beta-tag" style="transform: skew(25deg);">BETA</p>
						  </div>
						  <div class="triangle1"></div>
						  <div class="triangle2"></div>
					   </div>
					   <div class="col-7" style="height:100%;  background-color: #FFFFFF; border-radius: 10px;">
						  <div class="parallelogram1"></div>
						  <div class="parallelogram2"></div>
						  <img src="https://cdn.novacrypt.org/media/Subsidiary_Logo/Subsidiary_27d00aaf-ab4e-439d-a1e5-5182ba7345c5_ispcwhite.png" class="img-fluid float-right m-3" style="height:75%; border-radius: 8%;  background-color: #FFFFFF;">
					   </div>
					</div>
					<a href="https://ispc.typeform.com/to/pjxGNBBU" class="stretched-link"></a>
				 </div>

				 <div style="height: 2rem;"></div>

				 
				 <div class="card" style="width: 18rem; height:10rem; border-radius: 20px;" data-aos="fade-up">
					<div class="row no-gutters" style="height:100%;">
					   <div class="col-5" style="height:100%;  border-radius: 20px; background-color: #030303;" >
						  <div class="card-body pr-0 pl-2">
							 <h5 class="card-title" style="color: #00b0f0; font-weight: 600 !important; background-color: #030303;  z-index:100; position: relative;">Modulus </h5>
						  </div>

						  <div class="triangle1"></div>
						  <div class="triangle2"></div>
					   </div>
					   <div class="col-7" style="height:100%;  background-color: #FFFFFF; border-radius: 10px;">
						  <div class="parallelogram1"></div>
						  <div class="parallelogram2"></div>
						  <img src="https://cdn.novacrypt.org/static/Landing/images/ModulusIcon.png" class="img-fluid float-right m-3" style="height:75%; border-radius: 8%;  background-color: #FFFFFF;">
					   </div>
					</div>
					<a href="https://modulusedu.com/" class="stretched-link"></a>
				 </div>

				 <div style="height: 2rem;"></div>
				 
				 <div class="card" style="width: 18rem; height:10rem; border-radius: 20px;" data-aos="fade-up">
					<div class="row no-gutters" style="height:100%;">
					   <div class="col-5" style="height:100%;  border-radius: 20px; background-color: #030303;" >
						  <div class="card-body pr-0 pl-2">
							 <h5 class="card-title" style="color: #00b0f0; font-weight: 600 !important; background-color: #030303;  z-index:100; position: relative;">Interstellar Initiative</h5>
						  </div>
						  <div class="parallelogram3"></div>
						  <div class="parallelogram4">
						  <p class="beta-tag" style="transform: skew(25deg);">DOWN</p>
						  </div>
						  <div class="triangle1"></div>
						  <div class="triangle3"></div>
					   </div>
					   <div class="col-7" style="height:100%;  background-color: #000000; border-radius: 10px;">
						  <div class="parallelogram1"></div>
						  <div class="parallelogram2"></div>
						  <img src="https://cdn.novacrypt.org/media/Subsidiary_Logo/Subsidiary_b5a37396-6a8e-43fc-8d56-4f330c46d0fe_roket1x.png" class="img-fluid float-right m-3" style="height:75%; border-radius: 8%;  background-color: #000000;">
					   </div>
					</div>
					<a href="https://interstellarinitiative.net/" class="stretched-link"></a>
				 </div>

				 <div style="height: 2rem;"></div>

				 
				 <div class="card" style="width: 18rem; height:10rem; border-radius: 20px;" data-aos="fade-up">
					<div class="row no-gutters" style="height:100%;">
					   <div class="col-5" style="height:100%;  border-radius: 20px; background-color: #030303;" >
						  <div class="card-body pr-0 pl-2">
							 <h5 class="card-title" style="color: #00b0f0; font-weight: 600 !important; background-color: #030303;  z-index:100; position: relative;">WaveFrnt</h5>
						  </div>
						  <div class="parallelogram3"></div>
						  <div class="parallelogram4">
						  <p class="beta-tag" style="transform: skew(25deg);">DOWN</p>
						  </div>
						  <div class="triangle1"></div>
						  <div class="triangle2"></div>
					   </div>
					   <div class="col-7" style="height:100%;  background-color: #FFFFFF; border-radius: 10px;">
						  <div class="parallelogram1"></div>
						  <div class="parallelogram2"></div>
						  <img src="https://cdn.novacrypt.org/media/Subsidiary_Logo/Subsidiary_7249597d-0bc6-4245-83a2-4336b1b6cbf3_wavefrntlogowhite01_1.png" class="img-fluid float-right m-3" style="height:75%; border-radius: 8%;  background-color: #FFFFFF;">
					   </div>
					</div>
					<a href="https://wavefrnt.com/" class="stretched-link"></a>
				 </div>

				 <div style="height: 2rem;"></div>
					
            </div>
	</div>


    <div class="loader-wrapper">
		<span class="loader"><span class="loader-inner"></span></span>
	</div>
	  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	  <script>
		$(window).on("load",function(){
		 $(".loader-wrapper").fadeOut("slow");
	});
	</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://cdn.novacrypt.org/static/Navbar.js"></script>
	<script>
      AOS.init();
    </script>


</body>

</html>