section {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
    margin-bottom:100px;
}

section#map {
    margin-top: 200px;
}

section img.normal {
    width: 50vw;
}


.stacked {
    display: flex;
    flex-direction: column;
}

.beside {
    display: flex;
    flex-direction: row;
}

.layered {
    grid-column: 1; grid-row: 1;
}

.white-text {
    color: #ffffff;
}



.mapael .map {
    position: relative;
}

.mapael .mapTooltip {
    position: absolute;
    background-color: #fff;
    moz-opacity: 0.70;
    opacity: 0.70;
    filter: alpha(opacity=70);
    border-radius: 10px;
    padding: 10px;
    z-index: 1000;
    max-width: 200px;
    display: none;
    color: #343434;
}

@media only screen and (orientation: portrait) {
    section img.normal {
        width: 85vw;
    }
}
