/*
.gallery {
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 5px solid black;
    border-radius: 15px;
    text-align: right;
}

*/



.gallery {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    text-align: right;
    width:100%;
    height:50%;
}

.gallery2 {
    display: block;
    margin-top: 100px;
    margin-bottom: 0;
    text-align: right;
    width: 100%;
    height: 50%;
}

.comingsoon {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.navbar-collapse {
    position:relative;right:10px
}

.hidden {
    display:none
}

/* general styles */
html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

/* The emerging W3C standard
   that is currently Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: #99AAB5 #232F33;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #232F33;
}

*::-webkit-scrollbar-thumb {
  background-color: #99AAB5;
  border-radius: 20px;
  border: 3px solid #232F33;
}



/*mobile*/
@media (min-width: 375px) {
    .display-box1 {
        width: 100%;
        height: 350px;
        margin-top: 40px;
        margin-bottom: 20px;
        background-color: #262626;
        border: 2px groove #2a9fd6;
    }

    .display-box2 {
        width: 100%;
        height: 350px;
        margin-top: 40px;
        margin-bottom: 20px;
        background-color: #262626;
        border: 2px groove #2a9fd6;
    }

    .display-box3 {
        width: 100%;
        height: 350px;
        margin-top: 40px;
        margin-bottom: 20px;
        background-color: #262626;
        border: 2px groove #2a9fd6;
    }

    .display-box4 {
        width: 100%;
        height: 350px;
        margin-top: 40px;
        margin-bottom: 20px;
        background-color: #262626;
        border: 2px groove #2a9fd6;
    }

    .display-box5 {
        width: 100%;
        height: 350px;
        margin-top: 40px;
        margin-bottom: 20px;
        background-color: #262626;
        border: 2px groove #2a9fd6;
    }

    .display-box6 {
        width: 100%;
        height: 350px;
        margin-top: 40px;
        margin-bottom: 20px;
        background-color: #262626;
        border: 2px groove #2a9fd6;
    }

    .display-box7 {
        width: 100%;
        height: 350px;
        margin-top: 40px;
        margin-bottom: 20px;
        background-color: #262626;
        border: 2px groove #2a9fd6;
    }

    .img-box1 {
        width: 100%;
        height: 350px;
        margin-top: 40px;
        margin-bottom: 20px;
        background-color: #262626;
        background-image: url("../images/card_1.png");
    }

    .img-box2 {
        width: 100%;
        height: 350px;
        margin-top: 40px;
        margin-bottom: 20px;
        background-color: #262626;
        background-image: url("../images/card_2.png");

    }
     .img-box3 {
        width: 100%;
        height: 350px;
        margin-top: 40px;
        margin-bottom: 20px;
        background-color: #262626;
        background-image: url("../images/card_3.png");
    }

    .img-box4 {
        width: 100%;
        height: 350px;
        margin-top: 40px;
        margin-bottom: 20px;
        background-color: #262626;
        background-image: url("../images/card_4.png");

    }

    .img-box5 {
        width: 100%;
        height: 350px;
        margin-top: 40px;
        margin-bottom: 20px;
        background-color: #262626;
        background-image: url("../images/card_5.png");
    }

    .img-box6 {
        width: 100%;
        height: 350px;
        margin-top: 40px;
        margin-bottom: 20px;
        background-color: #262626;
        background-image: url("../images/card_6.png");

    }

    .img-box7 {
        width: 100%;
        height: 350px;
        margin-top: 40px;
        margin-bottom: 20px;
        background-color: #262626;
        background-image: url("../images/card_7.png");
    }

    .d-title {
        margin-top: 10px;
        margin-left: 10px;
    }

    .d-text {
        padding: 0px 10px;
        text-align: justify;
        font-size: 16px;
    }
}

/*tablets*/
@media (min-width: 500px) {
    .display-box1 {
        width: 70%;
        height: 350px;
        margin-top: 100px;
        margin-bottom: 20px;
        background-color: #262626;
        border: 2px groove #2a9fd6;
    }

    .display-box2 {
        width: 70%;
        height: 350px;
        margin-top: 40px;
        margin-bottom: 20px;
        background-color: #262626;
        border: 2px groove #2a9fd6;
    }

    .display-box3 {
        width: 70%;
        height: 350px;
        margin-top: 40px;
        margin-bottom: 20px;
        background-color: #262626;
        border: 2px groove #2a9fd6;
    }

    .display-box4 {
        width: 70%;
        height: 350px;
        margin-top: 40px;
        margin-bottom: 20px;
        background-color: #262626;
        border: 2px groove #2a9fd6;
    }

    .display-box5 {
        width: 70%;
        height: 350px;
        margin-top: 40px;
        margin-bottom: 20px;
        background-color: #262626;
        border: 2px groove #2a9fd6;
    }

    .display-box6 {
        width: 70%;
        height: 350px;
        margin-top: 40px;
        margin-bottom: 20px;
        background-color: #262626;
        border: 2px groove #2a9fd6;
    }

    .display-box7 {
        width: 70%;
        height: 350px;
        margin-top: 40px;
        margin-bottom: 20px;
        background-color: #262626;
        border: 2px groove #2a9fd6;
    }


    .img-box1 {
        width: 70%;
        height: 350px;
        margin-top: 100px;
        margin-bottom: 20px;
        background-color: #262626;
        background-image: url("../images/card_1.png");
    }

    .img-box2 {
        width: 70%;
        height: 350px;
        margin-top: 40px;
        margin-bottom: 20px;
        background-color: #262626;
        background-image: url("../images/card_2.png");
    }

    .img-box3 {
        width: 70%;
        height: 350px;
        margin-top: 40px;
        margin-bottom: 20px;
        background-color: #262626;
        background-image: url("../images/card_3.png");
    }

    .img-box4 {
        width: 70%;
        height: 350px;
        margin-top: 40px;
        margin-bottom: 20px;
        background-color: #262626;
        background-image: url("../images/card_4.png");

    }

    .img-box5 {
        width: 70%;
        height: 350px;
        margin-top: 40px;
        margin-bottom: 20px;
        background-color: #262626;
        background-image: url("../images/card_5.png");
    }

    .img-box6 {
        width: 70%;
        height: 350px;
        margin-top: 40px;
        margin-bottom: 20px;
        background-color: #262626;
        background-image: url("../images/card_6.png");

    }

    .img-box7 {
        width: 70%;
        height: 350px;
        margin-top: 40px;
        margin-bottom: 20px;
        background-color: #262626;
        background-image: url("../images/card_7.png");
    }


    .d-title {
        margin-top: 20px;
        margin-left: 20px;
        width: 100%;
        word-wrap: break-word;
    }

    .d-text {
        padding: 0px 15px;
        text-align: justify;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis
    }
}