main#content {
    background: #000000 url('../images/orion-nebula-11107_1.jpg') no-repeat center center;
    min-height: 100vh;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

div.multi {
    margin-top: 100px;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

section#announcements, aside#discord {
    background: rgba(50,53,56,0.5);
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 30px;
    height: 100vh;
    max-height: 600px;
    overflow: auto;
    border-radius: 30px;
    text-align: center;
}

section#announcements {
    width: 60%;
}

aside#discord {
    width: 20%;
}

section#announcements h2 {
    text-decoration: underline;
}

section#announcements p {
    width: 90%;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

section#announcements hr {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
}

.stacked {
    display: flex;
    flex-direction: column;
}

.beside {
    display: flex;
    flex-direction: row;
}

.layered {
    grid-column: 1; grid-row: 1;
}

@media only screen and (orientation: portrait) {

    main#content {
        flex-direction: column;
    }

    section#announcements, aside#discord {
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }

    div.multi {
        flex-direction: column;
    }
}
