.popular{
    margin:10% 15%;
    display:flex;
}
#popular-image{
    height: 70%;
    width: 50%;
    /* margin-left: 10%; */
    float: left;
    background-color: white;
    /* flex: 1; */
}
.pop{
    height: 100%;
    width: 100%;
}
#pop-text{
    margin: auto;
    padding-left: 3%;
    text-align: left;
    vertical-align: middle;
    /* width: 70%; */
    /* flex: 2; */
    float: right;
}
#articles-section{
    margin: 10% 10%;
    /* display: flex; */
}
.article-image{
    height: 60%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.artim{
    height: 100%;
    width: 100%;

}
.article-text{
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
    display: block;
}
#article-1{
    width: 33%;
    float: left;
}
#article-2{
    width: 33%;
    float: left;
}
#article-3{
    width: 33%;
    float: left;
}
.category{
    /* border-bottom: 2px solid white; */
    text-decoration: underline white;
}