

.btn
{

    background-color: transparent;
    transition: 750ms ease;

}



#continents{
  background-color: transparent;
  border: transparent;
}

.card{
border-color: blue;
}
.body{
  background-color: black;
}
hr{
  border: 1px solid blue;


}
button.btn.btn-primary.dropdown-toggle{
  border: transparent;
  cursor: none;
  padding: 16px;
  font-size: 16px;

}
