body {
    padding: 0;
    margin: 0;
    background-image: /*linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5))*/ url(../images/dashboard.webp);
    height: 100vh;
    background-size: cover;
    background-position: center;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   }

.Dashboard {
    width: 100%;
    width: auto;
    height: auto;
    background: rgba(0,0,0,0.7);
    padding: 60px 50px;
    border-radius: 5px;
}

.title {
    font-size: 2em;
    line-height: 1.25em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    color: #fff;
    padding-bottom: 15px;
}

.input-fields {
    padding: 0 30px;
    color: #fff;
}

.input-fields .items {
    width: 100%;
    padding-bottom: 15px;
}

.input-fields .items .input {
    padding: 8px 10px;
    width: 100%;
    margin: 20px 0px;
    background: rgba(0, 0, 0, 0);
    font-size: 18px;
    font-family: 'Times New Roman';
    color: #fff;
    border:outset;
}

.input-fields .items .text-area {
    background: transparent;
    border: 1px dashed #ffecb3;
    width: 100%;
    min-width: 1000px;
    max-width: 1000px;
    max-height: 250px;
    padding: 8px 10px;
    font-size: 18px;
    font-family: 'Times New Roman';
    color: #fff;
    border-radius: 10px;
}

.signout {
    float:right;
}

.btn-group button {
    margin: 0 30px;
    background: #fff;
    color: #000;
    font-size: 1.25em;
    padding: 10px 24px;
    text-align: center;
    text-transform: uppercase;
    align-self: center;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 2px;
    transition: .8s ease;
    width: 200px;
    float: left;
}

.btn:hover {
    background: #ffc107;
    color: #fff;
}

.items #msg {
    height: 50px;
}

.input-fields .items .input.active .label {
    font-size: 18px;
    font-family: 'Times New Roman';
}

@media screen and (max-width: 750px) {
    .input-fields {
        padding: 0;
    }
}