.slideshow .slide-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: #fff;
  text-align: left !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attend-btn {
  color: black;
  background-color: #00b0f0;
  border-color: #00b0f0;
  font-size: 25px;
  border-radius: 7px;
}

.green-text {
  color: #1df000;
}

.red-text {
  color: #ff0000;
}

.special-blue {
  color: #00b0f0;
}

.odd-font {
  text-indent: 2px;
  text-transform: uppercase;
}