@charset "utf-8";
header {
    position: relative;
    background-color: black;
    height: 107.5vh;
    min-height: 55rem;
    width: 100%;
    overflow: hidden;
}

.vid{
    width: 100%;
}

header video {
position: absolute;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: 0;
-ms-transform: translateX(-50%) translateY(-50%);
-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
}

header .container {
position: relative;
z-index: 2;
}

header .overlay {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: black;
opacity: 0.5;
z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
header video {
}
}
@media(max-width:720px){
    #h1nova{
        font-size: 0.5rem !important;
    }
}
@media(min-width:721px;) and (max-width:){
    
}
