.container3 {
    flex-direction: row;
    min-height: 100vh;
}

.container3 > div {
    margin-top: 50px;
    margin-bottom: 50px;
    width:50%;
}

.container3 div.wave {
    width: 10%;
}

.icon {
    height: 150px;
    width: 150px;
}

img[src="assets/images/interstellarwave-01.png"] {
    height: 100%;
    width: 50%;
}

.interstellar-link {
    display: flex;
    color: white;
    justify-content: center;
    margin: 0 10%;
    font-size: 35px;
    padding: 10px;
    border: 1px solid #2a9fd6;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s;
    font-weight: bolder;
}

@media only screen and (orientation: portrait) {
    .container {
        justify-content: center;
    }

    .container3 {
        flex-direction: column;
    }

    .container3 > div {
        margin-top: initial;
        margin-bottom: initial;
        width:100%;
    }

    .container3 div.wave {
        display: none;
    }

    .lcard_image {
        max-width: 100%;
        max-height: 100%;
    }

    .icon {
        width: 50%;
        height: initial;
        margin-left: auto;
        margin-right: auto;
    }
}