.projects-container {
    width: 100%;
    padding: 0;
    margin: 0;
}

/*  Titles and info are
    Left   to  Right*/
.projects-container .container-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.projects-container .container-1 .left-side {
    width: 50%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-container .container-1 .right-side {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5%;
}

.projects-container .container-1 .left-side img {
    width: 100%;
    height: 100%;
    justify-content: center;
}

.projects-container .container-1 .right-side h5 {
    width: 100%;
    font-size: 3vw;

}

.projects-container .container-1 .right-side p {
    width: 100%;
    font-size: 1vw;    
}

.projects-container .container-1 .right-side .tags-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.projects-container .container-1 .right-side .tags-container .tags {
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.projects-container .container-1 .right-side .tags-container .tags a {
    margin: 2px;
    text-decoration:none;
    font-size: 1vw;
    padding: 1vw;
    border-radius: 3px;
    text-align: center;
    justify-content: center;
    color: #fff;
    background-color: #fd670b;
    border: 1px solid #CD6509;
    font-family: sans-serif;
    vertical-align: middle;

}

.projects-container .container-1 .right-side .tags-container .links {
    width: 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 100%;
}

.projects-container .container-1 .right-side .tags-container .links a {
    text-transform: uppercase;
    border-radius: 5%;
    cursor: pointer;
    transition: .8s ease;
    height: 4vw;
    width: 4vw;
    padding: 3px;
    margin: 2px;
}

.projects-container .container-1 .right-side .tags-container .links a:hover {
    background: #ffc107;
    color: #fff;
}

.projects-container .container-1 .right-side .tags-container .links a img {
    height: 100%;
    width: 100%;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    text-align: center;
}


/*  Titles and info are reversed, so
    Right  to  Left*/
.projects-container .container-2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.projects-container .container-2 .right-side {
    width: 50%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-container .container-2 .left-side {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5%;
}

.projects-container .container-2 .right-side img {
    width: 100%;
    height: 100%;
    justify-content: center;
}

.projects-container .container-2 .left-side h5 {
    width: 100%;
    font-size: 3vw;
    text-align: right;
}

.projects-container .container-2 .left-side p {
    width: 100%;
    font-size: 1vw;
    text-align: right;
}

.projects-container .container-2 .left-side .tags-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.projects-container .container-2 .left-side .tags-container .tags {
    width: 75%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.projects-container .container-2 .left-side .tags-container .tags a {
    margin: 2px;
    text-decoration:none;
    font-size: 1vw;
    padding: 1vw;
    border-radius: 3px;
    text-align: center;
    justify-content: center;
    color: #fff;
    background-color: #fd670b;
    border: 1px solid #CD6509;
    font-family: sans-serif;
    vertical-align: middle;

}

.projects-container .container-2 .left-side .tags-container .links {
    width: 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}

.projects-container .container-2 .left-side .tags-container .links a {
    text-transform: uppercase;
    border-radius: 5%;
    cursor: pointer;
    transition: .8s ease;
    height: 4vw;
    width: 4vw;
    padding: 3px;
    margin: 2px;
}

.projects-container .container-2 .left-side .tags-container .links a:hover {
    background: #ffc107;
    color: #fff;
}

.projects-container .container-2 .left-side .tags-container .links a img {
    height: 100%;
    width: 100%;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    text-align: center;
}