{% extends "base.html" %}
{% load static %}
{% block title %}NovaCrypt | Sponsors {% endblock %}
<style>
  a.bruh:hover {
    background-color: #03cdff;
    color: black !important;
    font-weight: bolder;
  }
</style>
{% block body %}
<div class="p-0 w-100" style="margin: 0; margin-top: 100px;">
    <div class="d-flex flex-column w-100">
      <div class="d-flex flex-row w-100">
        <hr class="mx-0 my-auto align-middle" style="background-color: #03cdff; height: 3px; opacity: 1; margin-left: 0; width: 10%;" data-aos="fade-up">
        <h3 class="my-auto align-middle" style="margin-left: 5%; letter-spacing: 0.3em; text-transform: uppercase !important; color: #03cdff; font: 'Raleway', 'Oswald', sans-serif;" data-aos="fade-up">Support</h3>
      </div>
      <hr class="mx-0 mb-5 align-middle" style="background-color: #03cdff; height: 3px; opacity: 1; margin-left: 0; width: 100% !important;" data-aos="fade-up">
      <div class="my-5 d-flex justify-content-around p-0 m-0" style="width: 100%; margin-top: 2rem !important; flex-wrap: wrap;">
        {% if Sponsor|length > 0 %}
        {% for Sponsor in Sponsor %}
        <div class="row d-flex justify-content-center m-0">
          <a class="text-white m-0" href="{{Sponsor.link}}"><img src="{% get_media_prefix  %}{{ Sponsor.logo }}" class="d-inline-block m-0" style="width: 100px; height: 100px;" data-aos="fade-up"></a>
        </div>
        {% endfor %}
        {% endif %}
      </div>
      <!--<a class="bruh mx-auto my-5" style="color: #03cdff; border:1px solid #03cdff; border-radius: 10px; padding: 20px; width: 80%; text-align: center; font-size: 1.5rem; font-weight: bolder;" href="/sponsors/support_us" data-aos="fade-up">Want to Support Us?</a>
      --></div>
  </div> 

{% endblock %}
{% block js %}
{% endblock %}
