{% extends "base.html" %}
{% load static %}
{% block title %}NovaCrypt | Support Us {% endblock %}
<style>
  a.bruh:hover {
    background-color: #03cdff;
    color: black !important;
    font-weight: bolder;
  }
</style>
{% block body %}
<div class="p-0 w-100" style="margin: 0; margin-top: 100px;">
    <div class="d-flex flex-column w-100">
      <div class="d-flex flex-row w-100 justify-content-center">
        <h3 class="my-auto align-middle" style="letter-spacing: 0.3em; text-transform: uppercase !important; color: #03cdff; font: 'Raleway', 'Oswald', sans-serif;" data-aos="fade-up">Support Us</h3>
      </div>
      <a class="bruh mx-auto mt-5 mb-3" style="color: #03cdff; border:1px solid #03cdff; border-radius: 10px; padding: 10px; width: 80%; text-align: center; font-size: 1.25rem; font-weight: bolder;" href="" data-aos="fade-up">NovaCrypt (Non-Profit) - Sponsors</a>
      <a class="bruh mx-auto my-3" style="color: #03cdff; border:1px solid #03cdff; border-radius: 10px; padding: 10px; width: 80%; text-align: center; font-size: 1.25rem; font-weight: bolder;" href="" data-aos="fade-up">NovaCrypt (Non-Profit) - IndieGogo</a>
      <a class="bruh mx-auto my-3" style="color: #03cdff; border:1px solid #03cdff; border-radius: 10px; padding: 10px; width: 80%; text-align: center; font-size: 1.25rem; font-weight: bolder;" href="" data-aos="fade-up">Events - Sponsors</a>
      <a class="bruh mx-auto my-3" style="color: #03cdff; border:1px solid #03cdff; border-radius: 10px; padding: 10px; width: 80%; text-align: center; font-size: 1.25rem; font-weight: bolder;" href="" data-aos="fade-up">Projects - Experiment.com</a>
    </div>
  </div>    
{% endblock %}
{% block js %}
{% endblock %}
