.navbar {
  background-color: transparent;
  transition: 750ms ease;
}

.navbar a:hover {
  color: #2A9FD6;
}

.offcanvas-header { display:none; }

.dropdown.show .dropdown-menu {
  max-height: 300px;
  opacity: 1;
}

.navbar-brand {
  font-family: 'Jost', sans-serif;
  font-size: 1.25em;
}

  
@media (max-width: 1200px) {
  .offcanvas-header{ display:block; }
  .navbar-collapse {
    position: fixed;
    top:0; 
    bottom: 0;
    left: 100%;
    width: 100%;
    overflow-y: auto;
    background-color: black;
    transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
    z-index: 1;
  }
  .navbar-collapse.show {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.dropdown-item{
    color:white;
}

.dropdown-item:hover{
    background-color: #232F33;
    color:white;
}

a{
    outline:0;
}

.navbar-toggler{
  z-index: 3;
}