{% extends 'base.html' %}
{% block body %}

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                
                <!--Content Header-->
                <div class="pswd-content">
                    <h5 class="mt-5 pt-5" style="color: #1A9CD2; text-align: center;">Change your password</h5>
                    <p class="mt-2 mx-auto" style="text-align: center; width:244.15px; color:white;">Enter old password and new password below.</p>
                    <div class="form-group mb-3 mt-4 mx-auto" style="width:244.15px">
                        <form action="" method="POST" class="text-center">
                        {% csrf_token %}
                        <input type="password" name="old_password"  class = "mt2" autocomplete="current-password" autofocus required id="id_old_password" placeholder="Old Password" style="background-color: transparent; height:45px; border: 2px solid #116C90; color:white;">
                        <input type="password"  class = "mt2" name="new_password1" autocomplete="new-password" required id="id_new_password1" placeholder="New Password" style="background-color: transparent; height:45px; border: 2px solid #116C90; color:white;">
                        <input type="password"  class = "mt2" name="new_password2" autocomplete="new-password" required id="id_new_password2" placeholder="Verify New Password" style="background-color: transparent; height:45px; border: 2px solid #116C90; color:white;">
                        <input type="submit" value="Reset Your Password" class="btn mt-2" style="font-size:0.875rem; width: 100%; background-color: #1EB1ED; border: 1px solid #126183; height:45px; color: white; font-weight:400;"/>
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </form><br/>
                </div>
                </div>
                        

                <!-- Bootstrap core JavaScript
                <script src="vendor/jquery/jquery.min.js"></script>
                <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

                Core plugin JavaScript
                <script src="vendor/jquery-easing/jquery.easing.min.js"></script>-->

{% endblock %}

 