{% extends 'base.html' %}
{% load static %}
{% block css %}

    <link rel="stylesheet" href="{% static 'Landing/CSS/emailverify.css' %}">
{% endblock %}
{% block body %}
<div class="container9 stat-holder d-flex justify-content-center" style="margin-top:100px;">
    <div class="emailverify-card mx-auto" data-aos="fade-up">
        <div class="emailverify-banner">
            <img class="emailverify-roundedimg no-highlight" src="{% static 'Administration/images/NovaCrypt-black.jpg' %}" alt="NovaCrypt Logo" draggable="false">
        </div>
        <div class="verified-email-details">
            <h5 class="verified-email-title text-center">Email Verified</h5>
            <p class="verified-email-text text-center" style="margin-bottom: 0; color: white;">Congratulations on creating your NovaCrypt Account!</p>
            <p class="verified-email-text text-center" style="margin-bottom: 2.5rem; color: white;">We hope you enjoy our services. {<a class="bruh" href="" target="_blank" style="text-decoration: none; color: #17cff8;">Tutorial Here</a>}</p>
            <div class="buttons d-flex justify-content-center align-items-center">
                <a href="https://discord.gg/qS3s8Uhs8Q" target="_blank" class="d-flex justify-content-center align-items-center mx-3 border-boi discord-boi" style="padding: 3rem; text-align: center; text-decoration: none; background-color: #7289da;">
                    <i class="bruh fab fa-discord align-self-center my-auto position-relative" aria-hidden="true"></i>
                </a>
                <a href="/Administration/dashboard" class="d-flex justify-content-center align-items-center mx-3 border-boi flex-column no-highlight dashboard">
                    <div style="width: 4.5rem; height: 4.5rem; margin: 3rem; text-align: center;" class="d-flex flex-column justify-content-center align-items-center dashboard-boi">
                        <img src="https://cdn.novacrypt.org/static/novacrypt.webp" draggable="false" class="d-inline-block m-0 no-highlight nc-logo">
                    <h3 class="align-middle text-center special-text">Dashboard</h3>
                    </div>
                </a>
            </div>
            <ul>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}   
<script id="rendered-js" src="{% static 'Administration/js/confetti.js"></script>
{% endblock %}