{% extends 'base.html' %}
{% load static %}
{% block css %}

    <link rel="stylesheet" href="{% static 'Landing/CSS/emailverify.css' %}">
{% endblock %}
{% block body %}
<div class="container9 stat-holder d-flex justify-content-center" style="margin-top:100px; margin-bottom:25px;">
    <div class="emailverify-card mx-auto" data-aos="fade-up">
        <div class="emailverify-banner">
            <img class="emailverify-roundedimg no-highlight" src="{% static 'Administration/images/NovaCrypt-black.jpg' %}" alt="NovaCrypt Logo" draggable="false">
        </div>
        <div class="verified-email-details">
            <h5 class="verified-email-title text-center">Email Verification</h5>
            <p class="verified-email-text text-center" style="margin-bottom: 0; color: white;">Thank you for signing up at NovaCrypt. Please check your email (and promotions tab) for the verification link from:</p>
            <p class="verified-email-text text-center" style="margin-bottom: 2.5rem; color: white;"><a class="bruh" href="mailto:no-reply@novacrypt.com" style="text-decoration: none; color: #17cff8;">no-reply@novacrypt.com</a></p>
        </div>
    </div>
</div>
{% endblock %}