{% extends 'base.html' %}
{% block body %}

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                
                <!--Content Header-->
                <div class="pswd-content">
                    <h5 class="mt-5 pt-5" style="color: #1A9CD2; text-align: center;">Password Reset</h5>
                    <p class="mt-2 mx-auto" style="text-align: center; width:244.15px; color:white;">You may now Login with your new password.</p>
                </div>
                        

                <!-- Bootstrap core JavaScript
                <script src="vendor/jquery/jquery.min.js"></script>
                <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

                Core plugin JavaScript
                <script src="vendor/jquery-easing/jquery.easing.min.js"></script>-->

{% endblock %}