{% extends 'base.html' %}
{% block body %}

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                
                <!--Content Header-->
                <div class="pswd-content">
                    <h5 class="mt-5 pt-5" style="color: #1A9CD2; text-align: center;">Forget your Password?</h5>
                    <p class="mt-2 mx-auto" style="text-align: center; width:244.15px; color:white;">We will send you an email with a special link to change your password!</p>
                    <div class="form-group mb-3 mt-4 mx-auto" style="width:244.15px">
                        <form action="" method="POST" class="text-center">
                        {% csrf_token %}
                        <input type="email" placeholder="Email Address" name="email" autocomplete="email" maxlength="254" required="" id="id_email" style="background-color: transparent; height:45px; border: 2px solid #116C90; color:white;">
                        <input type="submit" value="Reset Your Password" class="btn mt-2" style="font-size:0.875rem; width: 100%; background-color: #1EB1ED; border: 1px solid #126183; height:45px; color: white; font-weight:400;"/><br>
                        </form><br/>
                </div>
                </div>
                        

                <!-- Bootstrap core JavaScript
                <script src="vendor/jquery/jquery.min.js"></script>
                <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

                Core plugin JavaScript
                <script src="vendor/jquery-easing/jquery.easing.min.js"></script>-->

{% endblock %}