footer{
    background-color: black;
}
.icon-bar a, .test-css {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}
.discord:hover {
    color:#7289da;
}
.reddit:hover {
    color:#FF4500;
}
.twitter:hover {
    color: #55ACEE;
}
.instagram:hover {
    color:#E1306C;
}
.linkedin:hover {
    color: #007bb5;
}
.youtube:hover {
    color: #bb0000;
}
.facebook:hover {
    color: #3B5998;
}
.unstyled{
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.7em;
}